.login {
    background: rgb(1, 125, 48);
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(40deg, rgba(1, 125, 48, 0.10127801120448177) 0%, rgba(33, 168, 82, 0.0984768907563025) 100%);

    .container {
        width: 100%;
    }

    label {
        font-size: 12px;
        font-weight: bolder;
        text-transform: uppercase;
        opacity: 0.6;
    }

    .group {
        .btn {
            color: #fff;
        }
    }
}


.loginbg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottomtextlink {
        position: relative;
        z-index: 2;
        font-size: 14px !important;
        padding: 30px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #fff;
        }
    }

    .bgtextwrapper {
        width: 100%;
        padding: 30px;
        text-align: center;
        color: #fff;
        position: relative;
        z-index: 1;

        .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px 0;

            .active {
                background-color: $b !important;
            }
        }


        .owl-dot {
            height: 3px;
            width: 30px;
            background-color: #fff;
            margin-right: 10px;

            &:focus {
                outline: none;
            }
        }

        .heading {

            font-weight: bolder;
        }

        p {
            color: #fff;
            margin-bottom: 15px;
        }
    }

    .loginformwrapper {
        position: relative;
        z-index: 2;
    }

    &::before {
        position: absolute;
        background-color: rgba($p, 0.5);
        top: 0;
        left: 0;
        right: 0;
        content: '';
        border-radius: 8px;
        bottom: 0;
        z-index: 1;
    }
}

.login {
    .logowrapper {
        img {
            max-height: 45px;
        }
    }
}