body {
    background-color: $gb;
}




@media all and (min-width: 992px) {

    .navbar {
        padding-top: 0;
        padding-bottom: 0;

    }

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        padding: 30px !important;

        .text-wrapper {
            padding-top: 15px !important;
            border-top: 1px solid $p !important;
        }
    }

    .navbar .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.bg {
    // background-color: ;
}

.user-header {
    background-color: $w;

    .justify-content-center .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
    }

    .navbar {
        padding: 0px;

        .dropdown-menu {
            padding: 8px 0;
            border: none;
            box-shadow: 0px 10px 30px rgba($b, 0.2);
            border-radius: 8px;
        }

        .dropdown-item {
            padding: 7px 15px;

            &:focus {
                background-color: $p;
                color: #fff !important;
            }
        }

        .nav-link {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }

        .user-menu {
            padding: 0px !important;
            border: none;
            background-color: transparent !important;

            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }

            img {
                height: 40px;
            }

            &::after {
                display: none;
            }
        }

        .nav-link-message {
            position: relative;

            i {
                font-size: 30px;
            }

            .count {
                position: absolute;
                top: 15px;
                left: 60%;
                transform: translateX(-50%);
                background-color: $a;
                border-radius: 3px;
                padding: 1px;
                line-height: 12px;
                color: $w;
                font-size: 10px;
            }
        }

        .logo {
            max-height: 40px;
        }
    }
}

.mainbody {
    background-color: #F3F3F3;
    padding: 16px 0;
    padding-bottom: 100px;

    .rightbar {
        .list {
            li.question {
                margin-bottom: 8px;
                padding-bottom: 8px;
                border-bottom: 1px solid rgba($p, 0.1);

                &:last-child {
                    border-bottom: 0px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }

        .cat {
            margin: 8px 0;
            list-style: none;

            p {
                font-size: 12px !important;
            }

            i {
                margin-right: 4px;
                font-size: 14px;
            }
        }
    }

    .midwrapper {
        article {
            position: relative;

            &:hover {
                .blog_title {
                    .title {
                        color: $p;
                    }
                }
            }

            .blog_title {
                position: absolute;
                bottom: 0;
                padding: 16px;
                color: #fff;
                z-index: 2;

                .title {
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                .cat {
                    color: $b;
                }
            }

            .cat {
                padding: 0 !important;
                list-style: none;

                .badge {
                    background-color: #fff;
                    padding: 5px 10px;
                    border-radius: 3px;
                    font-size: 12px;
                }
            }

            .image {
                position: relative;

                &::after {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    content: '';
                    top: 0;
                    left: 0;
                    border-radius: 5px;
                    z-index: 1;
                    background: rgb(0, 0, 0);
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6811099439775911) 0%, rgba(0, 0, 0, 0.4990371148459384) 36%, rgba(0, 212, 255, 0.0032387955182072714) 100%);
                }

                img {
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .horizontalArticle {

            .image {
                img {
                    height: auto;
                }
            }

            .blog_title {
                position: relative;
                color: $b;

                .cat {
                    .badge {
                        background-color: #f8f8f8;
                        padding: 5px 10px;
                        display: block;
                    }
                }
            }
        }
    }

    .searchform {
        background-color: #fff;
        border-radius: 4px;

        input {
            border: none !important;
            padding-left: 15px;
        }
    }
}

.box {
    .list {
        .divider {
            padding-top: 10px;
        }
    }

    .box_title {
        background-color: #FAFAFA;
        border-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        .title {
            font-size: 16px;
            font-weight: bolder;
            padding: 12px 15px;
        }
    }

    .box_content {
        padding: 7px 15px;
        background-color: #fff;
        border-radius: 8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        .list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                &:last-child {
                    a {
                        border-bottom: none !important;
                    }
                }

                .title {
                    line-height: 22px;
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 5px 0;
                    border-bottom: 1px dotted rgba(0, 0, 0, 0.05);

                    .text {
                        font-size: 14px;

                        i {
                            font-size: 20px;
                            color: #444;
                        }
                    }

                    &:hover {
                        i {
                            color: $p !important;
                        }
                    }
                }
            }
        }
    }
}

.orderd_products_images {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    object-fit: cover;
    position: relative;

}

.requests {
    list-style: none;
    

    .request {
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
        box-shadow: none;
        margin-bottom: 15px !important;
        user-select: none;

        background-color: #fff;

        &:hover {
            box-shadow: 0px 1px 3px rgba($b, 0.2);
        }

        .upper {
            position: relative;

            .uppercontent {
                padding: 15px !important;
            }

            .rotateIcon {
                transform: rotate(-180deg);
                transform-origin: center center;
            }

            .icon {
                position: absolute;
                right: 15px;
                transition: all 0.5s ease;
                height: 30px;
                width: 30px;
                background-color: rgba($p, 0.08);
                border-radius: 30px;
                line-height: 30px;
                text-align: center;
                margin-right: 0px;

                transform-origin: center center;

                top: 15px;

                i {
                    font-size: 14px;
                    margin-right: 0px;
                    color: $p;
                }
            }

        }

        .lower {
            display: none;
            ul{
                list-style: none !important;
                margin-top: 15px;
            }

            .more_info_lab {
                padding: 15px;
                background-color: #f8f8f8;
            }
        }
    }
    .selectedRequest{
        box-shadow: 0px 1px 3px rgba($b, 0.2);
    }

    .orderitem,

    .order_full_info {
        cursor: pointer;
        background-color: #fff;
    }

    .userswitch{
        color: #fff;
    }
    .order_full_info {
        padding: 15px;
        display: none;

        // padding-top: 0px;
    }
}

.ask_question_form {
    background-color: #f8f8f8;

    .form-control {
        border: none;
    }
}

footer {
    background-color: $b;
    padding: 30px 0;
}