.dashboard-settings{
    padding-bottom: 100px;
    .breadcrumb_section{
        background-color: #f8f8f8;
        .breadcrumb{
            background-color: transparent;
            margin: 0;
        }
    }
    .user-settings{
        padding: 30px 0;
        .tab-content{
            padding: 15px;
            .textwrapper{
                .title{
                    padding-bottom: 15px;
                    color: $p;
                    font-weight: bolder;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #eee;
                }
            }
        }
        .settingsmenu{
            border-radius: 5px;
            padding: 15px 0;
            .title{
                padding-bottom: 15px;  
            border-bottom: 1px solid #eee;          }
            .nav{
            }
            .nav-link{
                border-radius: 5px;
                

            }
            .active{
                background-color: rgba($p, 0.08);
                color: $p;
                border-color: transparent;
            }
        }
    }
}
