@import 'lab';


@media(max-width: 768px) {
    .request .chooseLab .labresults {
        grid-template-columns: 1fr !important;
    }
    .request .formWrapper {
        margin: 30px 0;
    }
    footer strong.title {
        margin-top: 40px;
    }
    footer .socialicons .container {
        padding: 15px 30px;
    }
    .socialicons {
        .justify-content-end {
            justify-content: start !important;
            margin-top: 30px;
            text-align: left !important;
        }
    }
    .hero .text-wrapper {
        margin: 30px 0;
    }
    .request .chooseLab .labresults .labWrapper .labservices .tests .testitem .price .requestTrigger {
        display: block !important;
    }
    .request .chooseLab .labresults .labWrapper .labservices .tests .testitem .price {
        display: none;
    }
}