{% extends "base.html" %}
{% load static %}
{% block title %} | Lab Dashboard
{% endblock title %}
{% block content %}

<body class="lab-page">
    <section class="hero">
        <div class="container-fluid">
            <div class="row wrappingColumn">

                <div class="col-sm-3 fullheight leftbar">
                    <div class="top pt-3">
                        <a href="#">
                            <div class="logowrapper">
                                <img src="../../media/logo.svg" alt="" class="img-fluid">
                            </div>
                        </a>
                    </div>
                    <div class="end">
                        <div class="spacer">
                        </div>
                        <!-- Partial Sidebar Goes Here -->
                        {% include 'partials/_lab-sidebar.html'%}
                        <div class="bottom">


                            <h6 class="text-muted px-2 py-3">Powered By: </h6>
                            <a href="#">
                                <div class="logowrapper px-2">
                                    <img src="../../media/logo.svg" alt="" class="img-fluid">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 fullheight middlebar">
                    <div class="top my-3">
                        <h6 class="title">Manage Members</h6>
                        <a href="#" class="btn btn_p"> <i class="las la-plus f18"></i> Add </a>
                    </div>
                    <div class="end labmembers">
                        <div class="upper">
                            <ul class="services">
                                <li class=" mb-3">
                                    <a href="#" class="service-wrapper d-flex">
                                        <div class="icon">
                                            <img src="https://pbs.twimg.com/profile_images/1285172997188235265/5dj--Fja_400x400.jpg"
                                                alt="" class="img-fluid">
                                        </div>
                                        <div class="text-wrapper">
                                            <div class="">
                                                <h6 class="text mb-2 text_p">Hari Prasad Bhusal</h6>
                                                <p class="text text_dim text_small mb-0 ">Lab Technician - New
                                                    Baneshwor, Kathmandu</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class=" mb-3 active">
                                    <a href="#" class="service-wrapper d-flex">
                                        <div class="icon">
                                            <img src="https://media-exp1.licdn.com/dms/image/C5103AQH9JMT-Sc0v2Q/profile-displayphoto-shrink_200_200/0/1547643140434?e=1625097600&v=beta&t=6MNGtDp-zXv-fAmimfeK01RYoMaif4bSOLBTDUhN6Fg"
                                                alt="" class="img-fluid">
                                        </div>
                                        <div class="text-wrapper">
                                            <div class="">
                                                <h6 class="text mb-2 text_p">Anup Jwala Poudel</h6>
                                                <p class="text text_dim text_small mb-0 ">Manager - Tersapatti, Pokhara
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>



                            </ul>
                        </div>
                        <!-- <div class="lower">2</div> -->
                    </div>
                </div>

                <div class="col-sm-5 fullheight rightbar">
                    <div class="top">
                        <div class="icon">
                            <i class="las la-user"></i>
                        </div>
                        <h6 class="title">Anup Jwala Poudel</h6>
                        <div class="icons d-flex justify-content-end">
                            <button class="btn btn_p">
                                <i class="las la-edit"></i> </button>
                            <button class="btn btn_p">
                                <i class="las la-trash"></i> </button>

                        </div>
                    </div>
                    <div class="end">
                        <div class="upper w-100 pr-3">
                            <form action="" class="packageForm">
                                <div class="row">
                                    <div class="col-md-6 valuearea">
                                        <div class="form-group">
                                            <label for="title">Name</label>
                                            <input type="text" class="form-control" placeholder="Name"
                                                value="Anup Jwala Poudel">
                                        </div>
                                    </div>
                                    <div class="col-md-6 valuearea">
                                        <div class="form-group">
                                            <label for="title">Upload Photo</label>
                                            <input type="file" name="" class="form-control" id="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 valuearea">
                                        <div class="form-group">
                                            <label for="title">Address</label>
                                            <input type="text" name="" class="form-control" placeholder="Address" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 valuearea">
                                        <div class="form-group">
                                            <label for="title">Phone Number</label>
                                            <input type="tel" name="" class="form-control" placeholder="Contact Number"
                                                id="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 valuearea">
                                        <div class="form-group">
                                            <label for="title">Email</label>
                                            <input type="email" name="" class="form-control" placeholder="Email Address"
                                                id="">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6 valuearea">
                                        <div class="form-group">
                                            <label for="title">Position</label>
                                            <select name="qualification" id="" class="form-control">
                                                <option value="1">Manager </option>
                                                <option value="1">Branch Manager </option>
                                                <option value="1">Accountant </option>
                                                <option value="1">Receptionit </option>
                                                <option value="1">Lab Technician </option>
                                                <option value="1">Lab Assistent </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 valuearea">
                                        <div class="form-group">
                                            <label for="title">Qualification</label>
                                            <select name="qualification" id="" class="form-control">
                                                <option value="1">CMA </option>
                                                <option value="1">MLT </option>
                                                <option value="1">DMLT </option>
                                                <option value="1">B.Sc. MLT </option>
                                            </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-12 valuearea">
                                        <div class="form-group">
                                            <label for="title">Biography</label>
                                            <textarea name="" id="" cols="" rows="5" class="form-control">Bllod Test Short desctiption here like Lorem ipsum dolor sit amet consectetur adipisicing.

                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="labaction">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn_p">Update Member</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- <div class="lower">2</div> -->

                    </div>
                </div>

            </div>
        </div>
    </section>

    <script>

        var selected = [];
        var availableServices = [
            "Complete Blood Cell Count",
            "Lipid Profile",
            "Renel Function Test"
        ];

        $(function () {
            $("#serviceTags").autocomplete({
                source: availableServices,
                select: function (event, ui) {
                    var value = ui.item.value;
                    selected.push(value);
                    refreshDiv();
                    var i = availableServices.indexOf(value);
                    availableServices.splice(i, 1);
                    event.preventDefault();
                    $("#serviceTags").focusout();
                    $("#serviceTags").val('');
                }
            });
        });

        function refreshDiv() {
            $("#testServices").val(selected.join(','));
            var email_html = selected.map(function (f, i) {
                return "<span class='btn_p_dim f14 px-3 py-2 rounded'>" + f + "&nbsp;&nbsp; <span class='las la-times remove_service_tag' onclick=\"removePackage('" + f + "')\" ></span></span>";
            });
            $("#package_html").html(email_html);
        }

        function removePackage(email) {
            availableServices.push(email);
            var i = selected.indexOf(email);
            selected.splice(i, 1);
            refreshDiv();
        }


    </script>
</body>


{% endblock content %}