<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale= 1" />
    <title>MeroHealth - Better health for better life</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="../../static/css/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="../../static/css/vendor/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
</head>

<body class="lab-page">
    <section class="hero">
        <div class="container-fluid">
            <div class="row wrappingColumn">
                <div class="col-sm-3 fullheight leftbar">
                    <div class="top pt-3">
                        <a href="#">
                            <div class="logowrapper">
                                <img src="../../media/logo.svg" alt="" class="img-fluid" />
                            </div>
                        </a>
                    </div>
                    <div class="end">

                        <div class="middle">
                            <ul class="menuwrapper mt-3">
                                <li class="active">
                                    <a href="test-requests.php" class="menuwrap">
                                        <div class="icon">
                                            <i class="las la-running"></i>
                                        </div>
                                        <div class="text">Test Requests</div>
                                        <div class="notify">4</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="reports.php" class="menuwrap">
                                        <div class="icon">
                                            <i class="las la-chart-bar"></i>
                                        </div>
                                        <div class="text">Reports</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom">
                            <h6 class="text-muted px-2 py-3">Powered By:</h6>
                            <a href="#">
                                <div class="logowrapper px-2">
                                    <img src="../../media/logo.svg" alt="" class="img-fluid" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 fullheight middlebar test_request">
                    <div class="top">
                        <h6 class="title my-3">Test Requests</h6>
                        <form action="" class="searchTests">
                            <input type="text" class="form-control py-1" placeholder="Search">
                            <button type="submit" class="btn">
                                <i class="las la-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="end">


                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#new" role="tab"
                                    aria-controls="pills-home" aria-selected="true">New <div class="counter">12</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#running" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">Running <div class="counter">23
                                    </div></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#completed"
                                    role="tab" aria-controls="pills-contact" aria-selected="false">Completed <div
                                        class="counter">
                                        255
                                    </div></a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="new" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="upper">
                                    <ul class="services">
                                        <li class="active">
                                            <a href="#" class="service-wrapper d-flex">
                                                <div class="icon">
                                                    <i class="las la-user-injured"></i>
                                                </div>
                                                <div class="text-wrapper">
                                                    <div class="d-flex  justify-content-between align-items-center">
                                                        <h6 class="text_p mb-0">Puja Bastakoti</h6>
                                                        <div class="datetime">
                                                            <small> <i class="fa fa-history"></i> 7 Min Ago</small>
                                                        </div>
                                                    </div>

                                                    <p class="text mb-0"> <small class="text-muted">
                                                            Shankhamul,
                                                            Kathmandu</small> </p>

                                                </div>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a href="#" class="service-wrapper d-flex">
                                                <div class="icon">
                                                    <i class="las la-user-injured"></i>
                                                </div>
                                                <div class="text-wrapper">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="text_p">Puja Bastakoti</h6>
                                                        <div class="datetime">
                                                            <small> <i class="fa fa-history"></i> 7 Min Ago</small>
                                                        </div>
                                                    </div>
                                                    <p class="text mb-0 "> <small class="text-muted">
                                                            Shankhamul,
                                                            Kathmandu</small> </p>
                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="running" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="upper">
                                    <ul class="services">
                                        <li class="active">
                                            <a href="test-requests-running.html" class="service-wrapper d-flex">
                                                <div class="icon">
                                                    <i class="las la-user-injured"></i>
                                                </div>
                                                <div class="text-wrapper">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="text_p">Puja Bastakoti</h6>
                                                        <div class="datetime">
                                                            <small> <i class="fa fa-history"></i> 7 Min Ago</small>
                                                        </div>
                                                    </div>

                                                    <p class="text mb-0 "> <small class="text-muted">
                                                            Shankhamul,
                                                            Kathmandu</small> </p>

                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="completed" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="upper">
                                    <ul class="services">
                                        <li class="active">
                                            <a href="#" class="service-wrapper d-flex">
                                                <div class="icon">
                                                    <i class="las la-user-injured"></i>
                                                </div>
                                                <div class="text-wrapper">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="text_p">Puja Bastakoti</h6>
                                                        <div class="datetime">
                                                            <small> <i class="fa fa-history"></i> 7 Min Ago</small>
                                                        </div>
                                                    </div>

                                                    <p class="text  mb-0"> <small class="text-muted">
                                                            Shankhamul,
                                                            Kathmandu</small> </p>

                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="lower">2</div> -->
                    </div>
                </div>
                <div class="col-sm-5 fullheight rightbar runningRequest">

                    <div class="top">
                        <div class="user text d-flex align-items-center">
                            <div class="icon mr-2">
                                <i class="las la-user-injured"></i>
                            </div>
                            <h6 class="title mb-0">Puja Bastakoti</h6>
                        </div>
                        <div class="payment pl-3 d-flex align-items-center">
                            <div class="icon mr-2">
                                <i class="las la-wallet"></i>
                            </div>
                            <div class="text price d-flex gap">
                                <div class="pricelabel">Rs. 4500/-</div>
                                <div class="status bg_p_dim f14 px-3 full_rounded text_p">Pending</div>
                            </div>
                        </div>

                    </div>
                    <div class="end">
                        <div class="upper w-100 testsrequestedbyuser pr-3">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Address</label>
                                        <div class="status bg_p_dim px-3 py-2 text_p rounded">
                                            Shantinagar, Pokhara
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Contact Number</label>
                                        <div class="status bg_p_dim px-3 py-2 text_p rounded">
                                            9847458523
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="form-group mb-0">
                                        <label for="">Selected Samples</label>
                                    </div>
                                    <div class="samplestotale d-flex flex-column">
                                        <div class="form-group mb-0 d-flex align-items-center">
                                            <label for="blood" class="mb-0 ml-2">
                                                <i class="las la-check f16"></i> Blood</label>
                                        </div>
                                        <div class="form-group d-flex align-items-center">
                                            <label for="urine" class="mb-0 ml-2"> <i class="las la-check f16"></i>
                                                Urine</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Payment Status</label>
                                        <div class="status bg_p_dim px-3 py-2 text_p rounded">Pending</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Payment Due</label>
                                        <div class="status bg_p_dim px-3 py-2 fw600 text_p rounded">
                                            Rs. 4500
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Sample Collection Date</label>
                                        <div class="status bg_p_dim px-3 py-2 text_p rounded">
                                            May 25, 2021
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Sample Collection Time</label>
                                        <div class="status bg_p_dim px-3 py-2  text_p rounded">
                                            09: 30 AM
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="labaction">

                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-between gap">
                                        <!-- Default dropup button -->
                                        <button type="submit" class="btn btn_p flex1 ">
                                            <i class="las la-check f18"></i> Samples collected and Received
                                            Payment</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="lower">2</div> -->

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Doctor Prescription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1007%2Fs11042-020-10151-w/MediaObjects/11042_2020_10151_Fig1_HTML.png"
                        alt="" class="img-fluid">

                </div>
            </div>
        </div>
    </div>


    <script src="../../static/js/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/vendor/popper/popper.min.js"></script>
    <script src="../../static/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../static/js/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../static/js/scripts.js"></script>
</body>


</html>