{% extends "base.html" %}
{% load static %}

{% block title %} | Home
{% endblock title %}

{% block content %}

<main>
  <section class="hero d-flex align-items-center" style="background-image: url('../../static/img/Patterns.svg')">
    <div class="container owl-carousel">
      <div class="slide-item">
        <div class="row">
          <div class="col-sm-6 d-flex align-items-center">
            <div class="text-wrapper">
              <h6 class="sub-heading">
                Checking health is now even better and easier...
              </h6>
              <h3 class="heading">
                We take your samples from your home and send report online.
              </h3>
              <p class="text mb-3">
                Describe here, how the user can get report like lorem lorem ipsum
                dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor. Aenean massa.
              </p>

              <button class="btn btn_p" data-toggle="modal" data-target="#loginRegisterModel">
                <a href="{% url 'newtestrequests' %}"> Request a lab
                  test</a>
              </button>
            </div>
          </div>
          <div class="col-sm-4 offset-md-2 d-flex align-items-center">
            <div class="image-wrapper">
              <img src="{% static 'img/taking-blood.png' %}" alt="taking blood" class="img-fluid effect5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 d-flex align-items-center">
          <div class="videoWrapper">
            <div class="thumb">
              <div class="play">
                <img src="{% static 'img/play.svg' %}" alt="" />
              </div>
              <img src="{% static 'img/video-thumbnail.png' %}" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
        <div class="col-sm-7 d-flex align-items-center pr-5">
          <div class="text-wrapper">
            <div class="sub-heading">About us</div>
            <h3 class="heading my-3">Who we are?</h3>

            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sed et
              ducimus? Voluptatum vero accusantium, neque hic impedit libero
              provident a odio? Modi, dolores beatae facilis voluptas laborum
              fugit doloribus adipisci animi eius corrupti error iste incidunt
              labore? Perferendis, qui.
            </p>

            <ul class="my-3 features">
              <li>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perspiciatis, eveniet!
                </p>
              </li>
              <li>
                <p class="text-muted">
                  Lorem ipsum dolor adipisicing elit. Perspiciatis, eveniet!
                </p>
              </li>
              <li>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perspiciatis, Lorem, ipsum dolor sit amet consectetur
                  adipisicing. eveniet!
                </p>
              </li>
            </ul>

            <div class="buttons my-3 d-flex">
              <a href="#" class="btn btn_p_b">Know more</a>
              <a href="#" class="btn btn_p_b">Our Team</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="reviews-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="text-wrapper">
            <div class="sub-heading">Our users are happy to use MeroHealth</div>
            <h3 class="heading mb-5">Customer Reviews</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="owl-carousel">
            <div class="reviewWrapper">
              <p class="testimonial text_different">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
                dolorum recusandae cumque eum rem ipsa similique, omnis quisquam
                mollitia obcaecati!
              </p>
              <strong class="by">
                <div class="icon">
                  <img src="{% static 'img/quote.svg' %}" alt="" />
                </div>
                Hari Prasad Bhusal, Kathmandu
              </strong>
            </div>
            <div class="reviewWrapper">
              <p class="testimonial text_different">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
                dolorum recusandae cumque eum rem ipsa similique, omnis quisquam
                mollitia obcaecati!
              </p>
              <strong class="by">
                <div class="icon">
                  <img src="{% static 'img/quote.svg' %}" alt="" />
                </div>
                Anup Jwala Poudel
              </strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row reviewactionrow py-4">
        <div class="col-sm-6 col-8">
          <a href="#" class="btn btn_p">View all reviews</a>
        </div>
        <div class="col-sm-6 col-4 d-flex justify-content-end">
          <div class="buttons d-flex">
            <button type="button" class="btn btn_left">
              <img src="{% static 'img/right.svg' %}" alt="" />
            </button>
            <button type="button" class="btn btn_right">
              <img src="{% static 'img/right.svg' %}" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="text-wrapper">
            <div class="sub-heading">Health Tips, News and Events</div>
            <h3 class="heading mb-5">From the Blog</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="owl-carousel">
            <article class="reviewWrapper">
              <div class="image">
                <img src="{% static 'img/taking-blood.png' %}" alt="" />
              </div>
              <div class="details">
                <h5 class="strong">Lorem ipsum dolor sit amet consectetur.</h5>

                <p class="testimonial">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Eveniet dolorum recusandae cumque eum rem ipsa similique, omnis
                  quisquam mollitia obcaecati!
                </p>
              </div>

              <strong class="by d-flex">
                <div class="date">June 21, 2020</div>
                <div class="category">
                  <a href="#">Category1</a><a href="#">Category 2</a>
                </div>
              </strong>
            </article>
          </div>
        </div>
      </div>
      <div class="row reviewactionrow py-4">
        <div class="col-sm-6 col-8">
          <a href="#" class="btn btn_p">View all Articles</a>
        </div>
        <div class="col-sm-6 col-4 d-flex justify-content-end">
          <div class="buttons d-flex">
            <button type="button" class="btn btn_left">
              <img src="{% static 'img/right.svg' %}" alt="" />
            </button>
            <button type="button" class="btn btn_right">
              <img src="{% static 'img/right.svg' %}" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="labs">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="text-wrapper">
            <div class="sub-heading">
              100s of Laboratories are already partnered with us
            </div>
            <h3 class="heading mb-5">Register your Laboratory</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="owl-carousel">
            <a href="#">
              <article class="reviewWrapper">
                <div class="image">
                  <img src="{% static 'img/taking-blood.png' %}" alt="" />
                </div>
              </article>
            </a>
          </div>
        </div>
      </div>
      <div class="row reviewactionrow py-4">
        <div class="col-sm-6 col-10">
          <a href="{% url 'registerlab' %}" class="btn btn_p">Register your laboratory</a>
        </div>
        <div class="col-sm-6 col-2 d-flex justify-content-end">
          <div class="buttons d-flex">
            <button type="button" class="btn btn_left">
              <img src="{% static 'img/right.svg' %}" alt="" />
            </button>
            <button type="button" class="btn btn_right">
              <img src="{% static 'img/right.svg' %}" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Modal Popup-->
  <div class="modal fade" id="useServiceAs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body bg_p_dim p-0">
          <div class="title bg_w p rounded f18 fw700 d-flex align-items-center justify-content-between">
            <div class="flex2 d-flex justify-content-start">

              <div class="logo ">

                <img src="../../media/logo.svg" alt="" class="img-fluid">
              </div>
            </div>


            <div class="flex10 d-flex justify-content-end">

              <button type="button" class="btn btn_p_b f12 " data-dismiss="modal">Close</button>
            </div>

          </div>
          <div class="userTypes my-3 px-3">
            <div class="row">
              <div class="col-sm-12">
                <div class="userTypeGrid">


                  <div class="typewrapper bg_w p rounded">
                    <figure>
                      <img src="../../media/taking-blood.png" alt="" class="img-fluid">
                    </figure>
                    <div class="details">
                      <h3 class="title f18 text_p mb-2 fw700">Join as Hospital</h3>
                      <p class="text-muted f14">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus nam consequatur
                        tempore!
                        Placeat eveniet, vero a fugiat odio assumenda?
                      </p>
                      <div class="buttonwrapper mt-3">
                        <a href="#">
                          <button class="btn btn_p">
                            Register Now
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="typewrapper bg_w p rounded">
                    <figure>
                      <img src="../../media/taking-blood.png" alt="" class="img-fluid">
                    </figure>
                    <div class="details">
                      <h3 class="title f18 text_p mb-2 fw700">Join as Clinic</h3>
                      <p class="text-muted f14">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus nam consequatur
                        tempore!
                        Placeat eveniet, vero a fugiat odio assumenda?
                      </p>
                      <div class="buttonwrapper mt-3">
                        <a href="#">
                          <button class="btn btn_p">
                            Register Now
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="typewrapper bg_w p rounded">
                    <figure>
                      <img src="../../media/taking-blood.png" alt="" class="img-fluid">
                    </figure>
                    <div class="details">
                      <h3 class="title f18 text_p mb-2 fw700">Join as Laboratory</h3>
                      <p class="text-muted f14">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus nam consequatur
                        tempore!
                        Placeat eveniet, vero a fugiat odio assumenda?
                      </p>
                      <div class="buttonwrapper mt-3">
                        <a href="../../templates/lab/register-lab.html">
                          <button class="btn btn_p">
                            Register Now
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="typewrapper doctor_user bg_w p ml-3 rounded">
                    <figure>
                      <img src="../../media/taking-blood.png" alt="" class="img-fluid">
                    </figure>
                    <div class="details">
                      <h3 class="title f18 text_p mb-2 fw700">Join as Doctor</h3>
                      <p class="text-muted f14">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe possimus nam consequatur
                        tempore!
                        Placeat eveniet, vero a fugiat odio assumenda?
                      </p>
                      <div class="buttonwrapper mt-3">
                        <a href="#">
                          <button class="btn btn_p">
                            Register Now
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="joinFooter bg_w p mt-3 rounded">
            <div class="row">
              <div class="col-sm-12">
                <div class="linkswrapper ">
                  <ul class="d-flex align-items-center justify-content-center gap">
                    <li>
                      <a href="#" class="f14 text_p">
                        How it works?
                      </a>
                    </li>
                    <li>
                      <a href="#" class="f14 text_p">
                        About us
                      </a>
                    </li>
                    <li>
                      <a href="#" class="f14 text_p">
                        Help and Support </a>
                    </li>
                    <li>
                      <a href="#" class="f14 text_p">
                        Why choose us </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock content %}