{% extends "base.html" %}
{% load static %}
{% block title %} | Blog
{% endblock title %}
{% block content %}
  <main class="mainbody">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="leftbarwrapper">
              <div class="box mb-3">
                <div class="box_title">
                  <h5 class="title">Question Categories</h5>
                </div>
                <div class="box_content">
                  <ul class="list">
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <div class="text">Eye Problem</div>
                        <div class="count">3</div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <div class="text">Psychology Issues</div>
                        <div class="count">3</div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <div class="text">Ear Problem</div>
                        <div class="count">3</div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <div class="text">Skin Problem</div>
                        <div class="count">3</div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <div class="text">Nose Problem</div>
                        <div class="count">3</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="midwrapper">
              <div class="searchbar mb-3">
                <form action="" class="searchform d-flex align-items-center justify-content-between">
                  <input type="text" class="form-control" placeholder="Search" />
                  <button type="submit" class="btn btn_skeleton">
                    <i class="las la-search"></i>
                  </button>
                </form>
              </div>
              <div class="askQuestion mb-3 d-flex align-items-center justify-content-between">
                <div class="text-wrapper">
                  <h3 class="title">Ask a Question</h3>
                  <p class="text-muted">
                    Doctor and specialists are here to help you
                  </p>
                </div>
                <button class="btn btn_p btn-sm btn_add_question">
                  Ask question
                </button>
              </div>
              <form action="" class="ask_question_form p rounded">
                <div class="questionbar mb-3 question_input">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group flex7">
                        <textarea name="" id="" cols="" rows="4" class="form-control"
                          placeholder="Write your question here"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group overflow-hidden">
                        <label for="file"><small>Image Upload</small></label>
                        <input type="file" class="">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="checkbox" name="" id="rem">
                        <label for="rem">Ask Question Anynomously</label>
                        <small class="d-block">By checking the checkbox above, your personal information will be
                          hidden</small>
                      </div>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-end">
                      <div class="form-group">
                        <button type="submit" class="btn btn_p">Submit</button>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
              <div class="featured_posts mt-3">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="articleWrapper">
                      <a href="#">
                        <article>
                          <div class="image">
                            <img src="../../media/taking-blood.png" alt="" class="img-fluid" />
                          </div>
                          <div class="text-wrapper blog_title">
                            <h3 class="title">
                              Lorem, ipsum dolor sit amet consectetur adipisicing
                              elit. Possimus, est.
                            </h3>
                            <ul class="cat d-flex gap">
                              <li>
                                <div class="badge">Ear Problem</div>
                              </li>
                              <li>
                                <div class="badge">Serious</div>
                              </li>
                            </ul>
                          </div>
                        </article>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="articleWrapper">
                      <a href="#">
                        <article>
                          <div class="image">
                            <img src="../../media/taking-blood.png" alt="" class="img-fluid" />
                          </div>
                          <div class="text-wrapper blog_title">
                            <h3 class="title">
                              Lorem, ipsum dolor sit amet consectetur adipisicing
                              elit. Possimus, est.
                            </h3>
                            <ul class="cat d-flex gap">
                              <li>
                                <div class="badge">Ear Problem</div>
                              </li>
                              <li>
                                <div class="badge">Serious</div>
                              </li>
                            </ul>
                          </div>
                        </article>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="articleWrapper horizontalArticle mt-4">
                      <a href="#">
                        <article class="d-flex justify-content-start">
                          <div class="image flex3">
                            <img src="../../media/taking-blood.png" alt="" class="img-fluid" />
                          </div>
                          <div class="text-wrapper flex5 blog_title">
                            <h3 class="title">
                              Lorem, ipsum dolor sit amet consectetur adipisicing
                              elit. Possimus, est.
                            </h3>
                            <p class="text-muted f14 m-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing
                              elit. Earum labore aut commodi aspernatur est
                              similique at ullam, eligendi soluta enim.
                            </p>
                            <ul class="cat d-flex gap">
                              <li>
                                <div class="badge">Ear Problem</div>
                              </li>
                              <li>
                                <div class="badge">Serious</div>
                              </li>
                            </ul>
                          </div>
                        </article>
                      </a>
                    </div>
                    <div class="articleWrapper horizontalArticle mt-4">
                      <a href="#">
                        <article class="d-flex justify-content-start">
                          <div class="image flex3">
                            <img src="../../media/taking-blood.png" alt="" class="img-fluid" />
                          </div>
                          <div class="text-wrapper flex5 blog_title">
                            <h3 class="title">
                              Lorem, ipsum dolor sit amet consectetur adipisicing
                              elit. Possimus, est.
                            </h3>
                            <p class="text-muted f14 m-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing
                              elit. Earum labore aut commodi aspernatur est
                              similique at ullam, eligendi soluta enim.
                            </p>
                            <ul class="cat d-flex gap">
                              <li>
                                <div class="badge">Ear Problem</div>
                              </li>
                              <li>
                                <div class="badge">Serious</div>
                              </li>
                            </ul>
                          </div>
                        </article>
                      </a>
                    </div>
                    <div class="articleWrapper horizontalArticle mt-4">
                      <a href="#">
                        <article class="d-flex justify-content-start">
                          <div class="image flex3">
                            <img src="../../media/taking-blood.png" alt="" class="img-fluid" />
                          </div>
                          <div class="text-wrapper flex5 blog_title">
                            <h3 class="title">
                              Lorem, ipsum dolor sit amet consectetur adipisicing
                              elit. Possimus, est.
                            </h3>
                            <p class="text-muted f14 m-0">
                              Lorem ipsum, dolor sit amet consectetur adipisicing
                              elit. Earum labore aut commodi aspernatur est
                              similique at ullam, eligendi soluta enim.
                            </p>
                            <ul class="cat d-flex gap">
                              <li>
                                <div class="badge">Ear Problem</div>
                              </li>
                              <li>
                                <div class="badge">Serious</div>
                              </li>
                            </ul>
                          </div>
                        </article>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="rightbar">
              <div class="yourproblems">
                <div class="box mb-3">
                  <div class="box_title">
                    <h5 class="title">Your Problems</h5>
                  </div>
                  <div class="box_content">
                    <ul class="list">
                      <li class="text-wrapper question">
                        <a href="#" class="">
                          <h6 class="title f16 fw600">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Facilis, modi.
                          </h6>
                          <ul class="cat d-flex gap">
                            <li>
                              <p class="m-0 text-muted">
                                <i class="las la-calendar"></i> 02/25/2021
                              </p>
                            </li>
                            <li>
                              <p class="m-0 text-muted">
                                <i class="las la-tags"></i>Eye Problem
                              </p>
                            </li>
                            <li>
                              <p class="m-0 text-muted">
                                <i class="las la-check-double"></i>
                              </p>
                            </li>
                          </ul>
                        </a>
                      </li>
                      <li class="text-wrapper question">
                        <a href="#" class="">
                          <h6 class="title f16 fw600">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Facilis, modi.
                          </h6>
                          <ul class="cat d-flex gap">
                            <li>
                              <p class="m-0 f14 text-muted">
                                <i class="las la-calendar"></i> 02/25/2021
                              </p>
                            </li>
                            <li>
                              <p class="m-0 f14 text-muted">
                                <i class="las la-tags"></i>Eye Problem
                              </p>
                            </li>
                          </ul>
                        </a>
                      </li>
                      <li class="text-wrapper question">
                        <a href="#" class="">
                          <h6 class="title f16 fw600">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Facilis, modi.
                          </h6>
                          <ul class="cat d-flex gap">
                            <li>
                              <p class="m-0 f14 text-muted">
                                <i class="las la-calendar"></i> 02/25/2021
                              </p>
                            </li>
                            <li>
                              <p class="m-0 f14 text-muted">
                                <i class="las la-tags"></i>Eye Problem
                              </p>
                            </li>
                          </ul>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}