{% extends "base.html" %}
{% load static %}
{% block title %} | lab Requests
{% endblock title %}
{% block content %}
  <main class="mainbody">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-3">


            <div class="leftbarwrapper">
              <div class="box mb-3">
                <div class="box_title">
                  <h5 class="title">Welcome Back, Hari</h5>
                </div>
                <div class="box_content">
                  <ul class="list">
                    <li>
                      <a href="index.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="las la-tachometer-alt mr-2 text-p"></i>Dashboard</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="user-profile.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="lar la-address-card mr-2"></i>Profile</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <div class="divider"></div>
                    <div class="text-wrapper">
                      <p class="f12 text-muted fbold text_dim">Discussions</p>
                    </div>
                    <li>
                      <a href="blog.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="las la-comments mr-2"></i>Health Queries</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <div class="divider"></div>

                    <div class="text-wrapper">
                      <p class="f12 text-muted fbold text_dim">Laboratory Services</p>
                    </div>
                    <li>
                      <a href="lab-requests.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="lar la-address-card mr-2"></i>Lab Requests</div>
                        <div class="count">
                          <small><i class="lar la-bell"></i>2</small>
                        </div>
                      </a>
                    </li>

                    <li>
                      <a href="lab-appointments.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="las la-user-tag mr-2"></i>Lab Appointments</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="lab-reports.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="las la-file-medical-alt mr-2"></i>Lab Reports</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>

                    <div class="divider"></div>
                    <div class="text-wrapper">
                      <p class="f12 text-muted fbold text_dim">Doctor Services</p>
                    </div>
                    <li>
                      <a href="doctor-appointment.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="las la-user-nurse mr-2"></i>Doctor Appointments</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="doctor-prescriptions.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="lar la-file-alt mr-2"></i>Prescriptions</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <div class="divider"></div>
                    <div class="text-wrapper">
                      <p class="f12 text-muted fbold text_dim">Hygenic Products</p>
                    </div>
                    <li>
                      <a href="product-orders.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="las la-luggage-cart mr-2"></i>My Orders</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="my-product-offers.php" class="d-flex justify-content-between text-wrapper">
                        <div class="text"> <i class="las la-percent mr-2"></i>Offers</div>
                        <div class="count">
                          <small></small>
                        </div>
                      </a>
                    </li>
                    <div class="divider"></div>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="midwrapper">
              <div class="lab-requests text-wrapper">
                <div class="title d-flex align-items-center justify-content-between">
                  <div class="left">
                    <h3 class="title">My Lab Request</h3>
                    <p class="small">Recent lab requests appears here</p>
                  </div>
                  <div class="right">
                    <a href="#">
                      <button type="button" class="btn btn_p btn_add">
                        Add New Request
                      </button>
                    </a>
                  </div>
                </div>
                <hr />

                <ul class="requests">
                  <li class="request d-flex gap px-3 py-2 mb-2 bg_table_title">
                    <div class="requestfor flex3">Tests</div>

                    <div class="labname flex2">Lab Details</div>
                    <div class="date flex2">Date and Time</div>
                    <div class="price flex2">Price</div>
                    <div class="status flex2">Status</div>
                  </li>

                  <li class="request m-0 p-0">
                    <div class="upper">
                      <div class="uppercontent d-flex gap">
                        <div class="icon">
                          <i class="las la-angle-down"></i>
                        </div>
                        <div class="requestfor flex3">
                          <div class="tests">Blood Test, Urine Test</div>
                          <div class="label small text-muted">
                            Requested Tests
                          </div>
                        </div>

                        <div class="labname flex2">
                          <div class="name">ABS Laboratory</div>
                          <div class="address text-muted">
                            <small>Shantinagar, Pokhara</small>
                          </div>
                        </div>
                        <div class="date flex2">
                          <div class="date"><b>7 Min Ago</b></div>
                          <div class="label small text-muted">Requested at</div>
                        </div>
                        <div class="price flex2">
                          <div class="amount"><b>Rs. 3400</b></div>
                          <div class="label small text-muted">Price</div>
                        </div>
                        <div class="status flex2">
                          <div class="amount"><b>Pending</b></div>
                          <div class="label small text-muted">Status</div>
                        </div>
                      </div>
                    </div>
                    <div class="lower">
                      <div class="more_info_lab">
                        <div class="row">
                          <div class="col-sm-4">
                            <h6>Request Details</h6>
                            <ul class="appointment_details">
                              <li>
                                <small class="text-muted">
                                  <strong> Requested Date: </strong>
                                  May 3, 2021- Sunday
                                </small>
                              </li>
                              <li>
                                <small class="text-muted">
                                  <strong> Requested For:</strong>
                                  May 5, 2021- Tuesday
                                </small>
                              </li>
                              <li>
                                <small class="text-muted">
                                  <strong> Payment Method</strong>
                                  Cash on Delivery
                                </small>
                              </li>
                              <li>
                                <small class="text-muted">
                                  <strong> Payment Status</strong>
                                  Success
                                </small>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-4">
                            <h6>Appointment Details</h6>
                            <ul class="appointment_details">
                              <li>
                                <small class="text-muted">
                                  <strong>Appointed Date</strong>
                                  May 5, 2021- Tuesday
                                </small>
                              </li>
                              <li>
                                <small class="text-muted">
                                  <strong> Approved at:</strong>
                                  3 Min Ago
                                </small>
                              </li>
                              <li>
                                <small class="text-muted">
                                  <strong> Approved at: </strong>
                                  3 Min Ago
                                </small>
                              </li>
                            </ul>
                          </div>

                          <div class="col-sm-4">
                            <h6>Lab Report</h6>
                            <ul class="appointment_details d-flex gap justify-content-start">
                              <li>
                                <a href="#">
                                  <button type="button" class="btn btn-xsm ">
                                    <i class="las la-cloud-download-alt"></i>
                                    Download
                                  </button>
                                </a>
                              </li>
                              <li class="">
                                <a href="#">
                                  <button type="button" class="btn btn-xsm ">
                                    <i class="las la-share"></i>
                                    Forward
                                  </button>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="request m-0 p-0">
                    <div class="upper">
                      <div class="uppercontent d-flex gap">
                        <div class="icon">
                          <i class="las la-angle-down"></i>
                        </div>
                        <div class="requestfor flex3">
                          <div class="tests">Blood Test, Urine Test</div>
                          <div class="label small text-muted">
                            Requested Tests
                          </div>
                        </div>

                        <div class="labname flex2">
                          <div class="name">ABS Laboratory</div>
                          <div class="address text-muted">
                            <small>Shantinagar, Pokhara</small>
                          </div>
                        </div>
                        <div class="date flex2">
                          <div class="date"><b>7 Min Ago</b></div>
                          <div class="label small text-muted">Requested at</div>
                        </div>
                        <div class="price flex2">
                          <div class="amount"><b>Rs. 3400</b></div>
                          <div class="label small text-muted">Price</div>
                        </div>
                        <div class="status flex2">
                          <div class="amount"><b>Pending</b></div>
                          <div class="label small text-muted">Status</div>
                        </div>
                      </div>
                    </div>
                    <div class="lower">
                      <div class="more_info_lab">
                        <div class="row">
                          <div class="col-sm-4">hey</div>
                          <div class="col-sm-4">hey</div>
                          <div class="col-sm-4">hey</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="request m-0 p-0">
                    <div class="upper">
                      <div class="uppercontent d-flex gap">
                        <div class="icon">
                          <i class="las la-angle-down"></i>
                        </div>
                        <div class="requestfor flex3">
                          <div class="tests">Blood Test, Urine Test</div>
                          <div class="label small text-muted">
                            Requested Tests
                          </div>
                        </div>

                        <div class="labname flex2">
                          <div class="name">ABS Laboratory</div>
                          <div class="address text-muted">
                            <small>Shantinagar, Pokhara</small>
                          </div>
                        </div>
                        <div class="date flex2">
                          <div class="date"><b>7 days 3 hours</b></div>
                          <div class="label small text-muted">Requested at</div>
                        </div>
                        <div class="price flex2">
                          <div class="amount"><b>Rs. 3400</b></div>
                          <div class="label small text-muted">Price</div>
                        </div>
                        <div class="status flex2">
                          <div class="amount"><b>Pending</b></div>
                          <div class="label small text-muted">Status</div>
                        </div>
                      </div>
                    </div>
                    <div class="lower">
                      <div class="more_info_lab">
                        <div class="row">
                          <div class="col-sm-4">hey</div>
                          <div class="col-sm-4">hey</div>
                          <div class="col-sm-4">hey</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}