{% extends "base.html" %}
{% load static %}
{% block title %} | My Settings
{% endblock title %}
{% block content %}
  <main class="dashboard-settings">
    <section class="breadcrumb_section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.php">Home</a></li>
                <li class="breadcrumb-item">
                  <a href="dashboard.php">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Settings
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="user-settings">
      <div class="container">
        <div class="row">
          <div class="col-3 bg_gray">
            <div class="settingsmenu">
              <div class="textwrapper">
                <div class="title f20">Settings</div>
              </div>
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#general" role="tab"
                  aria-controls="v-pills-home" aria-selected="true"><i class="las la-cog"></i>Account Settings</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#profile" role="tab"
                  aria-controls="v-pills-profile" aria-selected="false"><i class="las la-user-cog"></i>Profile</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#messages" role="tab"
                  aria-controls="v-pills-messages" aria-selected="false"><i class="las la-sms"></i>Messages</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#notifications" role="tab"
                  aria-controls="v-pills-settings" aria-selected="false"><i class="lar la-bell"></i>Notifications</a>
              </div>
            </div>
          </div>
          <div class="col-9 bg_w">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="textwrapper">
                  <div class="title f20 text_p">Account Settings</div>
                </div>
                <div class="formwrapper">
                  <form>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="username"><small class="text-muted">Username</small></label>
                          <input type="text" class="form-control" id="username" placeholder="Username" />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="textwrapper">
                          <p class="f14">Change Password</p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="curpass"><small class="text-muted">Current Password</small></label>
                          <input type="password" class="form-control" id="curpass" placeholder="New Password" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="newpass1"><small class="text-muted">New Password</small></label>
                          <input type="password" class="form-control" id="newpass1" placeholder="Confirm Password" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="conpass"><small class="text-muted">Confirm Password</small></label>
                          <input type="password" class="form-control" id="conpass" placeholder="Confirm Password" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-9">
                        <div class="form-group">
                          <label for="veremail"><small class="text-muted">Verify Email</small></label>
                          <input type="email" class="form-control" id="veremail"
                            placeholder="Enter your email address" />
                        </div>
                      </div>
                      <div class="col-sm-3 d-flex align-items-end">
                        <div class="form-group w-100">
                          <button class="btn btn_p btn-sm btn-block">
                            Send OTP
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button class="btn btn_p">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="textwrapper">
                  <div class="title f20 text_p">Profile Settings</div>
                </div>
                <div class="formwrapper">
                  <form>

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="username"><small class="text-muted">First Name</small></label>
                          <input type="text" class="form-control" id="username" placeholder="First Name" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="username"><small class="text-muted">Middle Name</small></label>
                          <input type="text" class="form-control" id="username" placeholder="Middle Name" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="username"><small class="text-muted">Last Name</small></label>
                          <input type="text" class="form-control" id="username" placeholder="Last Name" />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="textwrapper">
                          <p class="f14">My Health Details</p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="curpass"><small class="text-muted">My Height</small></label>
                          <input type="text" class="form-control" id="curpass" placeholder="Enter Height" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="newpass1"><small class="text-muted">My Weight</small></label>
                          <input type="text" class="form-control" id="newpass1" placeholder="Enter Weight" />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="conpass"><small class="text-muted">Date of Birth</small></label>
                          <input type="date" class="form-control" id="conpass" placeholder="Enter Date of Birth" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="curpass"><small class="text-muted">Blood Group</small></label>
                          <select name="" id="" class="form-control">
                            <option value="1">A+</option>
                            <option value="2">A-</option>
                            <option value="3">B+</option>
                            <option value="4">B-</option>
                            <option value="4">O+</option>
                            <option value="4">O-</option>
                            <option value="4">AB+</option>
                            <option value="4">AB-</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <button class="btn btn_p">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="textwrapper">
                  <div class="title f20 text_p">Messaging Settings</div>
                </div>
                <div class="formwrapper">
                  <form>
                    <div class="row">
                      <div class="col-sm-12">

                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                          <label class="form-check-label" for="inlineCheckbox1">Get Messages from Doctor</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                          <label class="form-check-label" for="inlineCheckbox2">Get Messages from Lab</label>
                        </div>

                      </div>
                    </div>


                    <br />
                    <div class="row">
                      <div class="col-sm-12">
                        <button class="btn btn_p">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="textwrapper">
                  <div class="title f20 text_p">Notifications Settings</div>
                </div>
                <div class="formwrapper">
                  <form>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                          <label class="form-check-label" for="inlineRadio1">Show Notifications</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                          <label class="form-check-label" for="inlineRadio2">Hide Notifications</label>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-sm-12">
                        <button class="btn btn_p">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content%}