<footer>
    <section class="socialicons">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="followlinks">
                        <strong>Follow us</strong>
                        <ul class="d-flex">
                            <li>
                                <a href="#"><i class="la la-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="la la-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="la la-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="la la-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="la la-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-end text-right">
                    <div class="followlinks">
                        <strong>Tollfree Number for Emergency</strong>
                        <h3 class="number">1660 615 2022 </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footerMain">
        <div class="container">
            <div class="row pb-5">
                <div class="col-sm-4">
                    <div class="footerBrand">
                        <strong class="title">
                            How MeroHealth Works?
                        </strong>
                        <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, pariatur
                            nisi neque nemo quos aspernatur. Porro minus expedita cumque, sapiente quas rerum. Saepe,
                            voluptatibus ipsum blanditiis quibusdam modi tenetur voluptatum?</p>
                        <a href="#" class="btn btn-link">Read More</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="subscribewrapper">
                        <strong class="title">
                            Subscribe and get free health tips</strong>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
                            voluptates porro quam!</p>
                        <form action="" class="subscribeForm d-flex">
                            <input type="text" class="form-control" placeholder="Your email address">
                            <button type="submit" class="btn btn_p">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="linksWrapper">
                        <strong class="title">
                            For Laboratories</strong>
                        <ul class="links">
                            <li>
                                <a href="#" class="link">Create an account</a>
                            </li>
                            <li>
                                <a href="#" class="link">Login</a>
                            </li>
                            <li>
                                <a href="#" class="link">Benefits</a>
                            </li>
                            <li>
                                <a href="#" class="link">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#" class="link">Customer Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer_menu">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light py-2">
                        <a class="navbar-brand" href="#">
                            <img src="../media/logo-white.svg" alt="MeroHealth Logo" class="img-fluid logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">How it works</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">How it works</a>
                                </li>


                            </ul>
                            <ul class="navbar-nav ml-auto navbar-right">
                                <li class="nav-item mr-2">
                                    <a class=" btn btn_p_b rounded" href="#">Patient/User Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn_p rounded" href="#">Create Patient Account</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="textwrap left">
                        &copy; 2021, Prarambha Group Pvt. Ltd, All Rights Reserved
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="textwrap right">
                        Design with &hearts; by MeroHealth Team
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>