<div class="col-sm-2 fullheight leftbar">
  <div class="top pt-3">
    <a href="#">
      <div class="logowrapper">
        <img src="../../media/logo.svg" alt="" class="img-fluid" />
      </div>
    </a>
  </div>
  <div class="end">
    <div class="spacer">
      <div class="dropdown my-3">
        <button class="btn btn_p_dim dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Abs Laboratory...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <h6 class="dropdown-header">Subscription</h6>

          <a class="dropdown-item" href="#">Monthly <small>(23 Days Rem.)</small></a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
    <div class="middle">
      <ul class="menuwrapper">
        <li>
          <a href="dashboard.php" class="menuwrap">
            <div class="icon">
              <i class="las la-tachometer-alt"></i>
            </div>
            <div class="text">Dashboard</div>
          </a>
        </li>

        <li class="">
          <a href="services.php" class="menuwrap">
            <div class="icon">
              <i class="las la-vials"></i>
            </div>
            <div class="text">Services</div>
          </a>
        </li>

        <li class="active">
          <a href="test-requests.php" class="menuwrap">
            <div class="icon">
              <i class="las la-running"></i>
            </div>
            <div class="text">Test Requests</div>
            <div class="notify">4</div>
          </a>
        </li>

        <li>
          <a href="reports.php" class="menuwrap">
            <div class="icon">
              <i class="las la-chart-bar"></i>
            </div>
            <div class="text">Reports</div>
          </a>
        </li>

        <li>
          <a href="payments.php" class="menuwrap">
            <div class="icon">
              <i class="las la-file-invoice-dollar"></i>
            </div>
            <div class="text">Payments</div>
          </a>
        </li>
        <li>
          <a href="messaging.php" class="menuwrap">
            <div class="icon">
              <i class="las la-comments"></i>
            </div>
            <div class="text">Messaging</div>
            <div class="notify">35</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom">
      <h6 class="text-muted px-2 py-3">Powered By:</h6>
      <a href="#">
        <div class="logowrapper px-2">
          <img src="../../media/logo.svg" alt="" class="img-fluid" />
        </div>
      </a>
    </div>
  </div>
</div>