<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    /> -->

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="../../static/css/vendor/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
</head>

<body class="bg">

    <header class="main-header">

        <div class="mainbar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="../index.php">
                                <img src="../../media/logo.svg" alt="MeroHealth Logo" class="logo" />
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                                <ul class="navbar-nav user_menu ml-auto navbar-right d-flex justify-content-end w-100">

                                    <!-- <li class="nav-item mr-2 d-flex align-items-center">
                <a class="nav-link btn btn_p_b rounded" href="login.php"
                  >Login</a
                >
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link btn btn_p rounded" href="signup.php"
                  >Join us</a
                >
              </li> -->

                                    <li class="nav-item d-flex align-items-center nav-item-dashboard"
                                        data-toggle="tooltip" data-placement="top" title="Go to Dashboard">
                                        <a class="nav-link d-flex align-items-center" href="signup.php">
                                            <img src="../../media/user.png" alt="" />
                                            <div class="user_info pl-2">
                                                <h6 class="name mb-0">Pooja</h6>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="nav-item d-flex align-items-center" data-toggle="tooltip"
                                        data-placement="top" title="Use Service As">
                                        <a class="nav-link" href="signup.php">
                                            <i class="las la-briefcase-medical"></i></a>
                                    </li>
                                    <li class="nav-item d-flex align-items-center" data-toggle="tooltip"
                                        data-placement="top" title="Message">
                                        <a class="nav-link" href="signup.php">
                                            <i class="las la-sms"></i>

                                            <div class="count">4</div>
                                        </a>
                                    </li>

                                    <li class="nav-item d-flex align-items-center" data-toggle="tooltip"
                                        data-placement="top" title="Notifications">
                                        <a class="nav-link" href="signup.php">
                                            <i class="las la-bell"></i>

                                            <div class="count">35</div>
                                        </a>
                                    </li>


                                    <li class="nav-item d-flex align-items-center" data-toggle="tooltip"
                                        data-placement="top" title="Test requests">
                                        <a class="nav-link" href="signup.php">
                                            <i class="las la-notes-medical"></i>
                                            <div class="count">3</div>
                                        </a>
                                    </li>


                                    <li class="nav-item d-flex align-items-center" data-toggle="tooltip"
                                        data-placement="top" title="User Options">
                                        <div class="dropdown d-flex justify-content-center">
                                            <button class="dropdown-toggle user-menu d-flex align-items-center"
                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <a class="nav-link nav-link-message" href="#">
                                                    <i class="las la-user-cog"></i></a>


                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="./../templates/user/index.php">
                                                    <i class="las la-tools mr-2"></i> My Dashboard</a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="las la-tools mr-2"></i> Notifications</a>
                                                <a class="dropdown-item" href="#">
                                                    <i class="las la-tools mr-2"></i> My Profile</a>

                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item" href="#">
                                                    <i class="las la-tools mr-2"></i> Account
                                                    Settings</a>
                                                <a class="dropdown-item" href="#"><i class="las la-adjust mr-2"></i>Dark
                                                    Mode</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#"><i
                                                        class="las la-sign-out-alt mr-2"></i>Log Out</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="confirm_lab_request">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="confirm_wrapper bg_w rounded p mb-5">
                        <div class="confirmHeading d-flex gap align-items-center">


                            <div class="confirm_icon">
                                <i class="lar la-check-circle"></i>
                            </div>
                            <div class="confirm_text">


                                <h3 class="title f20 text_p">
                                    Your tests selection has been received
                                </h3>
                                <p class="text-muted f14 mb-0">Please verify your selection and pay the amount
                                </p>
                            </div>
                        </div>
                        <div class="requestedWrapper">
                            <div class="requested mb-3 ">
                                <div class="requestedLab">
                                    <div class="lab-head d-flex align-items-center justify-content-between">
                                        <div class="textpart">
                                            <h3 class="labname f16 mb-0"> <a href="#" data-toggle="tooltip"
                                                    data-placement="top" title="View Profile">Pokhara Reference
                                                    Laboratory</a> </h3>
                                            <p class="text-muted f14 mb-0">Hospital Chowk, Pokhara</p>
                                        </div>
                                    </div>
                                </div>
                                <label class="f14 d-block mt-3 text-muted fw600">Requested Tests</label>
                                <ul class="tests">
                                    <li
                                        class="d-flex bg_p_dim px-3 py-2 rounded mb-1 align-items-center justify-content-between">
                                        <div class="name d-flex flex3">
                                            <i class="las la-flask"></i>
                                            <div class="labels">

                                                <div class="label">Full Blood Count</div>
                                                <div class="text-muted"><small>Category Name</small></div>
                                            </div>
                                        </div>
                                        <ul class="subItems d-flex flex6 flex-wrap">
                                            <li class="subitem">
                                                Platlet Count
                                            </li>
                                            <li class="subitem">
                                                WBC Count
                                            </li>
                                            <li class="subitem">
                                                RBC Count
                                            </li>
                                            <li class="subitem">
                                                Lipid Profile Test
                                            </li>
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                        </ul>
                                        <div class="price btn_p flex1 full_rounded px-2 py-1">
                                            Rs. 1288
                                        </div>
                                    </li>
                                    <li
                                        class="d-flex bg_p_dim px-3 py-2 rounded mb-1 align-items-center justify-content-between">
                                        <div class="name d-flex flex3">
                                            <i class="las la-flask"></i>
                                            <div class="labels">

                                                <div class="label">Full Blood Count</div>
                                                <div class="text-muted"><small>Category Name</small></div>
                                            </div>
                                        </div>
                                        <ul class="subItems d-flex flex6 flex-wrap">
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                        </ul>
                                        <div class="price btn_p flex1 full_rounded px-2 py-1">
                                            Rs. 1300
                                        </div>
                                    </li>
                                    <li
                                        class="d-flex bg_p_dim px-3 py-2 rounded mb-1 align-items-center justify-content-between">
                                        <div class="name d-flex flex3">
                                            <i class="las la-flask"></i>
                                            <div class="labels">

                                                <div class="label">Full Blood Count</div>
                                                <div class="text-muted"><small>Category Name</small></div>
                                            </div>
                                        </div>
                                        <ul class="subItems d-flex flex6 flex-wrap">
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                            <li class="subitem">
                                                Test 1
                                            </li>
                                            <li class="subitem">
                                                Test 1
                                            </li>

                                            <li class="subitem">
                                                Test 1
                                            </li>
                                        </ul>
                                        <div class="price btn_p flex1 full_rounded px-2 py-1">
                                            Rs. 340
                                        </div>
                                    </li>
                                </ul>
                                <label class="f14 d-block mt-3 text-muted fw600">Requested Packages</label>
                                <ul class="packages">
                                    <li class="package bg_p_dim d-flex mb-3 flex-column align-items-start gap">
                                        <div class="packageText flex5">
                                            <h3
                                                class="packageName f14 d-flex justify-content-between align-items-center">
                                                Full Body Check up
                                                <div class="cost">
                                                    <i class="las la-wallet"></i> Rs. 2300
                                                </div>
                                            </h3>
                                            <p class="text-muted mb-0 f14">Included lipid profile test, liver
                                                function
                                                test Lorem ipsum
                                                dolor, sit amet consectetur
                                                adipisicing.</p>
                                        </div>
                                    </li>
                                    <li class="package d-flex bg_p_dim mb-3 flex-column align-items-start gap">
                                        <div class="packageText flex5">
                                            <h3
                                                class="packageName f14 d-flex justify-content-between align-items-center">
                                                Full Body Check up
                                                <div class="cost">
                                                    <i class="las la-wallet"></i> Rs. 2300
                                                </div>
                                            </h3>
                                            <p class="text-muted mb-0 f14">Included lipid profile test, liver
                                                function
                                                test Lorem ipsum
                                                dolor, sit amet consectetur
                                                adipisicing.</p>
                                        </div>
                                    </li>
                                </ul>
                                <label class="f14 d-block mt-3 text-muted fw600">Pay Now</label>
                                <div class="payBox">
                                    <div class="payItem mb-2 align-items-center d-flex justify-content-between">
                                        <div class="left">
                                            <div class="label">
                                                Total Amount
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="value bg_p_dim text_p px-3 py-1 rounded">
                                                <i class="las la-wallet f18"></i> Rs 10000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payItem mb-2 align-items-center d-flex justify-content-between">
                                        <div class="left">
                                            <div class="label">
                                                Discount
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="value bg_p_dim text_p px-3 py-1 rounded">
                                                <i class="las la-percentage f18"></i> 10%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payItem mb-2 align-items-center d-flex justify-content-between">
                                        <div class="left">
                                            <div class="label">
                                                Total Amount Now
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="value bg_p_dim text_p px-3 py-1 rounded">
                                                <i class="las la-wallet f18"></i> Rs 9000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payItem mb-2 align-items-center d-flex justify-content-between">
                                        <div class="left w-100 d-flex justify-content-between align-items-center">
                                            <div class="label">
                                                Choose Payment Method
                                            </div>
                                            <form action="" class="payform">
                                                <ul class="availablePaymentMethods">
                                                    <li>
                                                        <label for="esewa">
                                                            <input type="radio" id="esewa" name="paymentmethod">
                                                            <img src="https://laxmanbaralblog.com/wp-content/uploads/2020/11/eSewa-Nepal.png"
                                                                alt="">
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label for="khalti">
                                                            <input type="radio" id="khalti" name="paymentmethod">
                                                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fd/Khalti_Digital_Wallet_Logo.png/640px-Khalti_Digital_Wallet_Logo.png"
                                                                alt="">
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label for="connectIps">
                                                            <input type="radio" id="connectIps" name="paymentmethod">
                                                            <img src="https://www.prabhulife.com/wp-content/uploads/2020/05/connectips-icon.png"
                                                                alt="">
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label for="cashondelivery">
                                                            <input type="radio" id="cashondelivery"
                                                                name="paymentmethod">
                                                            <img src="https://w7.pngwing.com/pngs/510/354/png-transparent-food-indian-cuisine-bangladeshi-cuisine-devops-dubai-cash-on-delivery.png"
                                                                alt="">
                                                        </label>
                                                    </li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr />

                                <div class="finalaction">
                                    <div class="cancelwrapper d-flex justify-content-between">
                                        <div class="leftbuttons">
                                            <button class="btn btn-sm cancel_trigger f12 p-0 "> <i
                                                    class="las la-times f16"></i>
                                                Cancel</button>
                                        </div>
                                        <div class="rightbuttons d-flex gap">
                                            <button class="btn btn-sm bg_p_dim cancel_message f14"> <i
                                                    class="las la-comment f16"></i> Attachments</button>

                                            <button type="submit" class="btn btn-sm btn_p f14">
                                                <i class="las la-wallet"></i> Pay
                                                Now</button>

                                        </div>
                                    </div>
                                    <div class="formwrapper hide bg_p_dim p rounded my-3">
                                        <div class="my-3 d-flex flex-column gap align-items-start">
                                            <div class="form-group">
                                                <label for="cancelmessage">
                                                    Tell us why you want to cancel the test service
                                                </label>
                                                <textarea name="" id="" cols="" rows="3"
                                                    placeholder="Please tell us why you want to cancel test requests and packages"
                                                    class="form-control flex6"></textarea>
                                            </div>
                                            <div class="form-group">

                                                <button type="submit" class="btn btn_p">Cancel Now</button>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="messageForm hide bg_p_dim p rounded my-3">
                                        <div class=" d-flex flex-column gap align-items-start">
                                            <div class="form-group">
                                                <label for="attchamnet" class="text-muted ">Attach Doctor's
                                                    Prescription
                                                    Here</label>

                                                <input type="file" id="attchamnet" class="form-control"
                                                    name="attchamnet">
                                            </div>
                                            <div class="form-group">
                                                <label for="message" class="text-muted">Send message to Lab
                                                    Here</label>
                                                <textarea name="message" id="message" cols="" rows="3"
                                                    placeholder="Please type your message here"
                                                    class="form-control flex6"></textarea>
                                            </div>
                                            <div class="form-group">

                                                <button type="submit" class="btn btn_p">Submit Attachments</button>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="bg_w mb-5 p rounded stickySidebar">
                        <div class="head fw700 text_p">
                            Contact details
                        </div>
                        <hr />
                        <div class="addressdata">
                            <form action="" class="my-3">
                                <div class="form-group editableFormGroup">
                                    <label for="" class="d-flex justify-content-between">
                                        <div class="text">
                                            Patient Name </div>
                                        <div class="editIcon">
                                            <i class="las la-pen"></i>
                                        </div>
                                    </label>
                                    <div class="formvalue">
                                        <div class=" text-muted f16 d-flex  align-items-center">
                                            <i class="las la-user mr-2"></i> Hari Bhusal
                                        </div>
                                    </div>

                                    <input type="text" class="form-control eidtableFormInput" value="Hari Bhusal"
                                        placeholder="Enter Patient Name">
                                </div>
                                <div class="form-group editableFormGroup">
                                    <label for="" class="d-flex justify-content-between">
                                        <div class="text">
                                            Sample Collection Address
                                        </div>
                                        <div class="editIcon">
                                            <i class="las la-pen"></i>
                                        </div>
                                    </label>
                                    <div class="formvalue">
                                        <div class=" text-muted f16 d-flex  align-items-center">
                                            <i class="las la-map mr-2"></i> Shantinagar, Pokhara
                                        </div>
                                    </div>

                                    <input type="text" class="form-control eidtableFormInput"
                                        value="Shantinagar, Pokhara" placeholder="Your Address">
                                </div>
                                <div class="form-group editableFormGroup">
                                    <label for="" class="d-flex justify-content-between">
                                        <div class="text">
                                            Phone Number
                                        </div>
                                        <div class="editIcon">
                                            <i class="las la-pen"></i>
                                        </div>
                                    </label>
                                    <div class="formvalue">
                                        <div class=" text-muted f16 d-flex  align-items-center">
                                            <i class="las la-phone mr-2"></i> 9847458523
                                        </div>
                                    </div>

                                    <input type="tel" class="form-control eidtableFormInput" value="9847458523"
                                        placeholder="Your Contact Number">
                                </div>
                                <div class="form-group editableFormGroup">
                                    <label for="" class="d-flex justify-content-between">
                                        <div class="text">
                                            Email Address
                                        </div>
                                        <div class="editIcon">
                                            <i class="las la-pen"></i>
                                        </div>
                                    </label>
                                    <div class="formvalue">
                                        <div class=" text-muted f16 d-flex  align-items-center">
                                            <i class="las la-envelope mr-2"></i> bhusalhari89@gmail.com
                                        </div>
                                    </div>

                                    <input type="email" class="form-control eidtableFormInput"
                                        value="bhusalhari89@gmail.com" placeholder="Your Email Address">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn_p btn-block">Save Contact Info</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div class="spacer"></div>

    <footer>
        <section class="socialicons">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="followlinks">
                            <strong>Follow us</strong>
                            <ul class="d-flex">
                                <li>
                                    <a href="#"><i class="la la-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="la la-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="la la-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="la la-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="la la-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end text-right">
                        <div class="followlinks">
                            <strong>Tollfree Number for Emergency</strong>
                            <h3 class="number">16600134567</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="footerMain">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="footerBrand">
                            <strong class="title">
                                How MeroHealth Works?
                            </strong>
                            <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae,
                                pariatur nisi neque
                                nemo quos aspernatur. Porro minus expedita cumque, sapiente quas rerum. Saepe,
                                voluptatibus ipsum
                                blanditiis quibusdam modi tenetur voluptatum?</p>
                            <a href="#" class="btn btn-link">Read More</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="subscribewrapper">
                            <strong class="title">
                                Subscribe and get free health tips</strong>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
                                voluptates porro
                                quam!</p>
                            <form action="" class="subscribeForm d-flex">
                                <input type="text" class="form-control" placeholder="Your email address">
                                <button type="submit" class="btn btn_p">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="linksWrapper">
                            <strong class="title">
                                For Laboratories</strong>
                            <ul class="links">
                                <li>
                                    <a href="#" class="link">Create an account</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Login</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Benefits</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Terms and Conditions</a>
                                </li>
                                <li>
                                    <a href="#" class="link">Customer Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row footer_menu">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#">
                                <img src="../../media/logo-white.svg" alt="MeroHealth Logo" class="img-fluid logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#">How it works</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">How it works</a>
                                    </li>


                                </ul>
                                <ul class="navbar-nav ml-auto navbar-right">
                                    <li class="nav-item mr-2">
                                        <a class=" btn btn_p_b rounded" href="#">Patient/User Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn_p rounded" href="#">Create Patient Account</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textwrap left">
                            &copy; 2021, Prarambha Group Pvt. Ltd, All Rights Reserved
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textwrap right">
                            Design with &hearts; by MeroHealth Team
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="../../static/js/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/vendor/popper/popper.min.js"></script>
    <script src="../../static/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../static/js/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../static/js/scripts.js"></script>
</body>


</html>