@mixin tsn {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@mixin customScrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgba($p, 0.2);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba($p, 0.2);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $p;
    }
}
