<header class="main-header">

  <div class="mainbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.php">
              <img src="../../media/logo.svg" alt="MeroHealth Logo" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="searcbar w-100 d-flex justify-content-end">
                <form action="" class="searchform">
                  <input type="text" name="" class="form-control" placeholder="Lab, Pharmacy, Hygenic Products..."
                    id="" />
                  <button type="submit" class="btn btn_p btn_search">
                    <i class="las la-search"></i>
                  </button>
                </form>
              </div>

              <ul class="navbar-nav user_menu ml-auto navbar-right d-flex justify-content-end w-100">
                <!-- <li class="nav-item mr-2 d-flex align-items-center">
                <a class="nav-link btn btn_p_b rounded" href="login.php"
                  >Login</a
                >
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link btn btn_p rounded" href="signup.php"
                  >Join us</a
                >
              </li> -->

                <li class="nav-item d-flex align-items-center nav-item-dashboard" data-toggle="tooltip"
                  data-placement="top" title="Go to Dashboard">
                  <a class="nav-link d-flex align-items-center" href="signup.php">
                    <img src="../../media/user.png" alt="" />
                    <div class="user_info pl-2">
                      <h6 class="name mb-0">Pooja</h6>
                    </div>
                  </a>
                </li>

                <li class="nav-item d-flex align-items-center" data-toggle="tooltip" data-placement="top"
                  title="Use Service As">
                  <a class="nav-link" href="signup.php">
                    <i class="las la-briefcase-medical"></i></a>
                </li>
                <li class="nav-item d-flex align-items-center" data-toggle="tooltip" data-placement="top"
                  title="Message">
                  <a class="nav-link" href="signup.php">
                    <i class="las la-sms"></i>

                    <div class="count">4</div>
                  </a>
                </li>

                <li class="nav-item d-flex align-items-center" data-toggle="tooltip" data-placement="top"
                  title="Notifications">
                  <a class="nav-link" href="signup.php">
                    <i class="las la-bell"></i>

                    <div class="count">35</div>
                  </a>
                </li>

                <li class="nav-item d-flex align-items-center" data-toggle="tooltip" data-placement="top"
                  title="User Options">
                  <div class="dropdown d-flex justify-content-center">
                    <button class="dropdown-toggle user-menu d-flex align-items-center" type="button"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <a class="nav-link nav-link-message" href="#">
                        <i class="las la-user-cog"></i></a>


                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="./../templates/user/index.php">
                        <i class="las la-tools mr-2"></i> My Dashboard</a>
                      <a class="dropdown-item" href="#">
                        <i class="las la-tools mr-2"></i> Notifications</a>
                      <a class="dropdown-item" href="#">
                        <i class="las la-tools mr-2"></i> My Profile</a>

                      <div class="dropdown-divider"></div>

                      <a class="dropdown-item" href="#">
                        <i class="las la-tools mr-2"></i> Account
                        Settings</a>
                      <a class="dropdown-item" href="#"><i class="las la-adjust mr-2"></i>Dark Mode</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"><i class="las la-sign-out-alt mr-2"></i>Log Out</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>