.lab-page {
    background-color: #fafafa;

    .hero {
        .test_request {
            .datetime {
                color: #999;
                font-size: 0.9rem;
            }
        }

        .container-fluid {
        }
    }

    .btn_p_dim {
        background-color: rgba($p, 0.1);
        color: #000;
    }

    .dropdown-menu {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    }

    .dropdown-item {
        padding: 7px 15px;

        &:focus {
            background-color: rgba($p, 0.1);
            color: #444;
        }
    }

    .fullheight {
        height: 100vh;
        overflow: hidden;
    }

    .leftbar {
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            // border-bottom: 1px solid rgba($p, 0.08);
            background-color: #fff;
            padding-bottom: 15px;
            box-shadow: 0px -10px 30px rgba($b, 0.1);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            .logowrapper {
                text-align: center;
                img {
                    max-height: 35px;
                }
            }
        }

        .end {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            // border-bottom: 1px solid #eee;
            justify-content: space-between;

            .spacer {
                width: 100%;

                .dropdown-menu {
                    .dropdown-header {
                        padding: 5px 15px;
                    }
                }

                .btn_p_dim {
                    width: 100%;
                    overflow: hidden;
                    padding-right: 15px;
                }
            }

            .bottom {
                width: 100%;
                padding: 15px;
                display: flex;
                align-items: center;
                background-color: #fff;
                justify-content: space-between;
                box-shadow: 0px -10px 30px rgba($b, 0.1);
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                h6 {
                    margin-bottom: 0px !important;
                    font-size: 14px;
                }
                img {
                    max-width: 150px;
                }
            }

            .middle {
                width: 100%;

                .menuwrapper {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        // padding: 3px 0;
                        // border-top: 1px solid #eee;
                        a {
                            display: flex;
                            padding: 7px 10px;
                            border-radius: 5px;
                            align-items: center;
                            position: relative;
                            color: #444;
                            text-decoration: none;
                            transition: all 0.5s ease;

                            &:hover {
                                background-color: rgba($p, 0.1);

                                .notify {
                                    background-color: #fff;
                                    right: -10px;
                                    color: $p;
                                }

                                .icon {
                                    i {
                                        // color: $p;
                                    }
                                }
                            }

                            .icon {
                                margin-right: 8px;
                                i {
                                    height: 30px;
                                    width: 30px;
                                    background-color: rgba($p, 0.08);
                                    line-height: 30px;
                                    // border: 1px solid transparent;
                                    text-align: center;
                                    border-radius: 30px;
                                    transition: all 0.5s ease;
                                    color: $p;
                                    font-size: 20px;
                                    // background-color: #f8f8f8;
                                }
                            }

                            .text {
                                flex: 3;
                            }

                            .notify {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                height: 25px;
                                line-height: 25px;
                                width: 25px;
                                text-align: center;
                                background-color: rgba($p, 1);
                                border-radius: 25px;
                                color: #fff;
                                right: 0px;
                                transition: all 0.5s ease;
                                font-size: 0.7rem;
                            }
                        }
                    }

                    li.active {
                        a {
                            background-color: $p;

                            .text {
                                color: #fff;
                            }

                            .icon {
                                i {
                                    color: $p;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .middlebar {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 20px;
        padding-right: 20px;
        .labmembers {
            .icon {
                width: 80px !important;
                margin-right: 10px;
                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 100px;
                    border: 1px solid $p;
                }
            }
        }
        .searchTests {
            position: relative;
            input {
                height: auto !important;
                padding: 5px 10px !important;
                border: none;
                border-bottom: 1px solid #eee;
                border-radius: 0px;
            }
            button {
                position: absolute;
                right: 5px;
                top: 0;
                transform: translateY(-50%);
                font-size: 14px !important;
                padding: 0px !important;
                transform: rotate(-90deg);
            }
        }

        .top {
            display: flex;
            align-items: center;
            height: 10vh;

            justify-content: space-between;

            .title {
                flex: 3;
                margin: 0;
                font-size: 20px;
            }

            .btn_p {
                flex: 1;
                padding: 5px 10px !important;
            }
        }

        .end {
            display: flex;
            height: 90vh;
            flex-direction: column;
            align-items: flex-start;
            // border-bottom: 1px solid #eee;
            justify-content: start;

            ul.nav {
                width: 100%;
                display: flex;
                column-gap: 15px;

                .active {
                    background-color: $p !important;
                    color: $w !important;

                    .counter {
                        color: $p;
                        opacity: 1 !important;
                    }
                }

                .nav-link {
                    color: $p;
                    background-color: rgba($w, 0.5);
                    display: flex;
                    position: relative;
                    align-items: center;

                    .counter {
                        margin-left: 10px;
                        border-radius: 2px;
                        opacity: 0.5;
                        padding: 0 3px;
                        line-height: 15px;
                        font-size: 10px;
                        height: 15px;
                        background-color: #fff;
                    }
                }
            }

            .tab-content {
                width: 100%;
                overflow-y: auto;
                padding-right: 10px;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgba($p, 0.05);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba($p, 0.2);
                    border-radius: 30px;
                }
            }
            .upper {
                width: 100%;
                .services {
                    list-style: none;
                    height: 90vh;
                    margin: 0;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding-right: 15px;
                    @include customScrollbar;
                    li {
                        margin-bottom: 0px !important;
                    }
                    .service-wrapper {
                        text-decoration: none;
                        align-items: flex-start;
                        padding: 15px;
                        border-radius: 0px;
                        border-bottom: 1px solid rgba($p, 0.1);

                        &:hover {
                            background-color: #fff;

                            .icon {
                                i {
                                    background-color: $p;
                                    color: #fff;
                                }
                            }
                        }

                        .icon {
                            flex: 1;

                            i {
                                color: $p;
                                height: 40px !important;
                                width: 40px !important;
                                line-height: 40px;
                                background-color: #fff;
                                border-radius: 40px;
                                text-align: center;
                                font-size: 25px;
                                transition: all 0.5s ease-in-out;
                            }
                        }

                        .text-wrapper {
                            flex: 6;
                        }
                    }
                    .active {
                        .service-wrapper {
                            background-color: rgba($p, 0.08);

                            .icon {
                                i {
                                    background-color: $p;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }

            .lower {
                padding-top: 15px;

                .searchform {
                    column-gap: 15px;

                    input {
                        margin: 0;
                    }

                    .btn_p {
                        padding: 3px 15px !important;
                    }
                }
            }
        }
    }

    .rightbar {
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        .labaction {
            position: sticky;
            bottom: 0;
            background-color: #fff;
            padding: 16px;
        }
        .testsrequestedbyuser {
            .testsrequested {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
        .packageForm {
            .pricearea {
                padding: 10px 20px;
                // border: 1px solid #eee;
                background-color: #fff;
            }
            .discounted {
                text-decoration: line-through;
                opacity: 0.6;
            }
            .totalpriceafterdiscount {
                color: $p;
            }
        }

        .top {
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba($p, 0.08);
            justify-content: space-between;
            height: 10vh;

            .icon {
                flex: 1;

                i {
                    color: $w;
                    height: 40px !important;
                    width: 40px !important;
                    line-height: 40px;
                    background-color: $p;
                    border-radius: 40px;
                    text-align: center;
                }
            }

            .title {
                padding: 23px 0;
                flex: 5;
            }

            .icons {
                flex: 2;
                column-gap: 7px;

                .btn {
                    padding: 0px !important;
                    height: 40px;
                    width: 40px;
                    border-radius: 40px;
                }
            }
        }

        .end {
            display: flex;
            height: 90vh;
            flex-direction: column;
            align-items: flex-start;
            // border-bottom: 1px solid #eee;
            justify-content: space-between;
            overflow-y: scroll;
            @include customScrollbar();
            .declineformwrapper {
                display: none;
            }

            .upper {
                .titlearea {
                }

                .valuearea {
                    .btn {
                        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
                        margin-bottom: 7px;
                        background-color: #fff;
                        border: none;
                    }

                    .form-control {
                        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
                        margin-bottom: 7px;
                        background-color: #fff;
                        border-radius: 5px;
                        border: none;
                    }
                }
            }
        }
    }
}

.notify {
    .icon {
        flex: 1;
    }

    .text {
        flex: 10;
    }

    .closenotification {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.stat {
    .icon {
        flex: 1;
        padding-right: 15px;

        .iconwrapper {
            height: 45px;
            width: 45px;
            border-radius: 100px;
            background-color: rgba($p, 0.1);
            line-height: 45px;
            text-align: center;

            i {
                font-size: 20px;
            }
        }
    }

    .text {
        flex: 6;
    }

    .status {
        flex: 2;
    }
}

.complete_profile_alert {
    position: relative;
    .closenotification {
        position: absolute;
        right: 15px;
        background-color: rgba(73, 69, 69, 0.4);
        padding: 10px;
        cursor: pointer;
        border-radius: 100px;
        top: 15px;
        i {
            margin-right: 0px;
        }
    }
}

.form-group {
    label {
        opacity: 0.5;
        font-size: 12px;
        font-weight: bolder;
        text-transform: uppercase;
    }
}

// settings
.ui-menu {
    background-color: rgba($p, 0.08) !important;
    padding: 14px !important;
    box-shadow: 0px 3px 10px rgba($b, 0.1) !important;
    .ui-menu-item {
        background-color: $p;
        color: #fff;
        &:hover {
            background-color: $b !important;
            color: #fff;
        }
    }
}

#package_html {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

.remove_service_tag {
    font-size: 12px !important;
    background-color: #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    line-height: 25px;
}
