.text-wrapper {
    .title {
        font-size: 1.2rem;
        font-weight: 700;
    }
    .text_dim{
        opacity: 0.5 !important;
    }
   .f14{
        font-size: 14px !important;
    }
    .f18{
        font-size: 18px !important;
    }
    .f20{
        font-size: 20px !important;
    }
    .fbold{
        font-weight: bolder !important;
    }
    .text {
        font-size: 1rem;
        color: $b;
    }
    .sub_title {
        font-size: 0.9rem;
        font-weight: bolder;
        opacity: 0.5;
    }
    .text_dim {
        opacity: 0.6;
    }
    .text_small {
        font-size: 0.8rem !important;
        opacity: 0.8;
    }
    .text_p {
        color: $p;
    }
    .text_a {
        color: $a;
    }
    .text_s {
        color: $s;
    }
    .text_w {
        color: $w;
    }
    .text_d {
        color: $d;
    }
    .f12{
        font-size: 12px !important;
    }
}

a {
    color: #444;
    &:hover {
        text-decoration: none;
        color: $p;
    }
}


.text_different{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-style: italic;


}