// BG UTILITY

.bg_g {
    background-color: #DB4437;
}

.bg_gray {
    background-color: #f8f8f8;
}

.bg_p_dim {
    background-color: rgba($p, 0.08);
}

.bg_fb {
    background-color: #4267B2;
}

// BG UTILITY ENDS


// FONT SIZE UTILITY
.f14 {
    font-size: 14px !important;
}

.f15 {
    font-size: 15px !important;
}

.f16 {
    font-size: 16px !important;
}

.f17 {
    font-size: 17px !important;
}

.f18 {
    font-size: 18px !important;
}

.f19 {
    font-size: 19px !important;
}

.f20 {
    font-size: 20px !important;
}

.f21 {
    font-size: 21px !important;
}

.f22 {
    font-size: 22px !important;
}

.f25 {
    font-size: 25px !important;
}

.f30 {
    font-size: 30px !important;
}

.f35 {
    font-size: 35px !important;
}

.f40 {
    font-size: 40px !important;
}

.f45 {
    font-size: 45px !important;
}

.f50 {
    font-size: 50px !important;
}

// FONT SIZE UTILITY ENDS


// FONT WEIGHT UTILITY

.fw300 {
    font-weight: 300 !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.fw900 {
    font-weight: 900 !important;
}
// FONT WEIGHT UTILITY ENDS

// FLEX UTILITY


.flex1 {
    flex: 1 !important;
}

.flex2 {
    flex: 2 !important;
}

.flex3 {
    flex: 3 !important;
}

.flex4 {
    flex: 4 !important;
}

.flex5 {
    flex: 5 !important;
}

.flex6 {
    flex: 6 !important;
}

.flex7 {
    flex: 7 !important;
}

.flex8 {
    flex: 8 !important;
}

.flex9 {
    flex: 9 !important;
}

.flex10 {
    flex: 10 !important;
}

.flex11 {
    flex: 11 !important;
}

.flex12 {
    flex: 12 !important;
}


// FLEX UTILITY ENDS