<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MeroHealth - Better health for better life</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="../static/css/vendor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" />
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
  <link rel="stylesheet" href="../static/css/vendor/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
  <main>
    <section class="login py-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-7 bg_w p-5 loginformwrapper shadow rounded d-flex align-items-center">
            <div class="leftwrapper w-100">
              <div class="row">
                <div class="col-sm-6">
                  <div class="logowrapper">
                    <img src="../media/logo.svg" alt="" class="img-fluid" />
                  </div>
                </div>

              </div>

              <br />
              <div class="text-wrapper">
                <h3 class="heading my-3">Verify your email account</h3>
                <p class="text-muted mb-3">
                  We have sent you an email that contains a verification code in order to verify that you have used your
                  valid email account
                </p>
              </div>

              <form action="" class="loginform needs-validation">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="email">OTP Code</label>
                      <input type="email" class="form-control" placeholder="OTP Code" required />
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <button class="btn btn_p">Verify Now</button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <a href="signup.html" class="d-flex gap align-items-center">Resend verification code to my email
                      <i class="las la-long-arrow-alt-right"></i></a>
                  </div>
                </div>

              </form>
            </div>
          </div>

          <div class="col-sm-5 loginbg rounded" style="background-image: url('../media/pattern.jpg')">
            <div class="top"></div>
            <div class="bgtextwrapper">
              <div class="owl-carousel">
                <div class="item">
                  <h3 class="heading mb-3">You can meet your doctor virtually!</h3>
                  <p class="text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
                    rem tenetur quasi dolorem asperiores at commodi id, odit
                    molestias quae.
                  </p>
                </div>
                <div class="item">
                  <h3 class="heading mb-3">You can meet your doctor virtually!</h3>
                  <p class="text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
                    rem tenetur quasi dolorem asperiores at commodi id, odit
                    molestias quae.
                  </p>
                </div>
                <div class="item">
                  <h3 class="heading mb-3">You can meet your doctor virtually!</h3>
                  <p class="text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
                    rem tenetur quasi dolorem asperiores at commodi id, odit
                    molestias quae.
                  </p>
                </div>
                <div class="item">
                  <h3 class="heading mb-3">You can meet your doctor virtually!</h3>
                  <p class="text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
                    rem tenetur quasi dolorem asperiores at commodi id, odit
                    molestias quae.
                  </p>
                </div>
              </div>
            </div>
            <div class="bottomtextlink gap">
              <a href="#">Terms and Conditions</a>
              <a href="#">Data Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="../static/js/vendor/jquery/jquery-3.6.0.min.js"></script>
  <script src="../static/js/vendor/popper/popper.min.js"></script>
  <script src="../static/js/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="../static/js/vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="../static/js/scripts.js"></script>
</body>


</html>