@import "includes/includes";

// hero
.hero {
    min-height: 66vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;

    .heading {
        margin: 0.5em 0;
    }

    &::before {
    }

    .image-wrapper {
        img {
            // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
    }
}

// request
.request {
    background-color: #f8f8f8;
    padding: 60px 0;

    .formWrapper {
        // margin-top: -60px;
        position: sticky;
        top: 30px;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

        .inputwrapper {
            padding: 1rem;

            .form-group {
                margin-bottom: 10px;
                overflow: hidden;

                .form-control {
                    background-color: #fff;
                    border-color: #eee;
                    transition: all 0.5s ease;
                    color: #000;
                    font-size: 0.9rem;
                    overflow: hidden;

                    &:focus {
                        border: 1px solid #eee;
                        background-color: transparent;
                    }
                }

                label {
                    display: flex;
                    opacity: 0.8;
                    font-size: 0.8rem;
                    margin-bottom: 3px;
                    justify-content: space-between;

                    &:hover {
                        opacity: 1;
                    }

                    .btn {
                        padding: 0 !important;
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .title {
            // border-top: 2px solid $p;
            .titleText {
                font-size: 1rem;
                margin: 0px;
                padding: 1em 1.2em;
                color: #fff;
                background-color: rgba($p, 1);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }

        .subtitle {
            background-color: #f8f8f8;
            padding: 0.8rem 1rem;
        }
    }

    .chooseLab {
        position: relative;

        .selectionInfo {
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px solid #eee;
            background-color: #f8f8f8;
            padding: 15px 0px;
            margin-top: 15px;
            z-index: 0;

            .title,
            .text {
                margin: 0;
            }
        }

        .search-wrapper {
            column-gap: 15px;

            .form-control {
                margin-bottom: 0px;
                height: auto !important;
                padding: 10px 15px !important;
                background-color: #fff;
                border-color: #eee;

                &:focus {
                    // border-color: #bbb;
                    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
                    background-color: #fff;
                }
            }

            .btn_p {
                i {
                    transform: scaleX(-1);
                }
            }
        }

        .labresults {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            padding-top: 15px;

            .labWrapper {
                margin-top: 0px;
                background-color: #fff;
                position: relative;
                // border-top: 2px solid transparent;
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    // border-top: 2px solid $p;
                    // transform: translateY(-5px);
                    // box-shadow: 0px 0px 30px rgba($p, .1);
                    .hideItems {
                        display: block !important;
                        position: absolute;
                        background-color: #fff;
                        width: 100%;
                        top: 100%;
                        left: 0;
                        z-index: 99;

                        .tests {
                            padding: 0px !important;
                        }
                    }

                    .labheading {
                        // background-color: rgba($p, 0.1);
                    }

                    .title a {
                        color: $p !important;
                    }

                    .icon {
                        background-color: rgba($p, 0.1) !important;
                    }
                }

                .labheading {
                    padding: 7px 15px;
                    column-gap: 10px;
                    padding-top: 15px;
                    border-radius: 0px !important;
                    padding-bottom: 15px;
                    // background-color: rgba($p, 0.05);
                    border-bottom: 1px solid #eee;

                    .popover-content {
                        background-color: red;

                        a {
                            color: $p !important;
                        }
                    }

                    .icon {
                        background-color: #f8f8f8;
                        height: 30px;
                        width: 30px;
                        cursor: pointer;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 30px;
                    }

                    .logo {
                        flex: 1;

                        img {
                            height: 60px;
                            background: #fff;
                            width: 60px;
                            object-fit: cover;
                            border: 1px solid #eee;
                        }
                    }

                    .name {
                        flex: 4;
                        padding-left: 7px;

                        .title {
                            a {
                                display: block;
                                font-size: 1rem;
                                color: #444;
                                font-weight: 500;
                            }
                        }

                        .address {
                            font-size: 0.8rem;
                            line-height: 0.8rem;
                            padding-bottom: 3px;
                            opacity: 0.8;
                            font-weight: 400;
                        }
                    }

                    .ratingwrapper {
                        display: flex;
                        align-items: center;

                        .reviews {
                            padding-left: 5px;
                            opacity: 0.8;
                            font-size: 0.9rem;
                            color: #333;
                        }
                    }

                    .rating {
                        display: flex;

                        i {
                            font-size: 0.8rem;
                            color: #999;
                            padding: 0;
                            margin-right: 0px !important;
                        }
                    }
                }

                .labservices {
                    .hideItems {
                        display: none;
                    }

                    .tests {
                        padding: 15px 0;
                        margin-bottom: 0px;
                        list-style: none;
                        padding-bottom: 0px;

                        .customCheckBox {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer !important;
                            font-size: 22px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                            &:hover {
                                .checkmark {
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    left: -10px;
                                    height: 20px;
                                    width: 20px;
                                    opacity: 1;
                                    background-color: #eee;
                                }
                            }
                        }

                        .customCheckBox input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .checkmark {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0px;
                            height: 20px;
                            width: 20px;
                            border-radius: 3px;
                            cursor: pointer;
                            opacity: 0;
                            transition: all 0.5s ease-in-out;
                            background-color: #eee;
                        }

                        .customCheckBox:hover input ~ .checkmark {
                            background-color: #fff;
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
                        }

                        .customCheckBox input:checked ~ .checkmark {
                            background-color: $p !important;
                            opacity: 1 !important;
                            left: -10px !important;
                        }

                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }

                        .customCheckBox input:checked ~ .checkmark:after {
                            display: block;
                        }

                        .customCheckBox .checkmark:after {
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }

                        .testitem {
                            position: relative;
                            font-size: 0.8rem;
                            cursor: pointer;
                            margin-bottom: 7px;
                            padding: 0px 20px;
                            user-select: none;

                            transition: all 0.5s ease-in-out;

                            img {
                                opacity: 0.6;
                                height: 10px;
                                width: 10px;
                                object-fit: contain;
                            }

                            &:hover {
                                background-color: #f8f8f8;

                                .price {
                                    .pricevalue {
                                        display: none;
                                    }

                                    .requestTrigger {
                                        display: block;
                                        background-color: $p;
                                        color: #fff;
                                    }
                                }
                            }

                            img {
                                height: 15px;
                                margin-right: 3px;
                            }

                            .testIcon {
                                flex: 1;
                            }

                            .time {
                                flex: 1;
                                font-size: 0.7rem;
                                opacity: 0.7;
                            }

                            .price {
                                text-align: center;
                                flex: 1;
                                font-size: 0.9rem;

                                .pricevalue {
                                    color: $p;
                                }

                                .action {
                                    border: 1px solid transparent;
                                    background-color: rgba($p, 0.03);
                                    padding: 5px;
                                    cursor: pointer;
                                    width: 100%;
                                    position: relative;

                                    &:focus {
                                        outline: none;
                                        box-shadow: none;
                                    }
                                }

                                .requestTrigger {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// footer
section.socialicons {
    margin-top: -25px;
}

footer {
    background-color: #424242;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23354a3f' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2328523b' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231a5938' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230d6134' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23006931' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 60px;

    .bottom {
        color: #fff;

        a {
            color: #fff;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }
    }

    .subscribeForm {
        column-gap: 10px;
    }

    .btn {
        background-color: $p !important;
    }

    .links {
        list-style: none;

        .link {
            color: #fff;
            display: block;
            font-weight: 300;
            padding: 5px 0;
            opacity: 0.7;
        }
    }

    .form-control {
        padding: 10px;
        height: auto !important;
        border-radius: 3px;

        &:focus {
            border-color: #eee;
            box-shadow: none;
            outline: none;
        }
    }

    .navbar {
        margin: 15px 0;
        padding: 0px !important;

        .btn_p_b {
            background-color: #fff !important;
            color: #444 !important;

            &:hover {
                background-color: rgba($p, 1) !important;
                color: #fff !important;
            }
        }

        .btn_p {
            // border-color: #fff;
        }
    }

    .navbar {
        .nav-link {
            color: #fff !important;
        }

        .navbar-brand {
            img {
                max-height: 40px;
            }
        }
    }

    .title {
        color: #fff;
        font-weight: 600;
        margin-bottom: 15px;
        display: block;
    }

    .text-muted {
        color: #eee !important;
        font-weight: 300 !important;
        margin-bottom: 15px !important;
    }

    .btn-link {
        color: #fff;

        // padding: 0px !important;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .footerBrand {
    }

    .socialicons {
        .container {
            transform: translateY(-70px);
            background-color: #fff;
            padding: 32px;
            border-radius: 3px;
            position: relative;
            box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08);
            z-index: 3;

            .followlinks {
                .number {
                    font-size: 2.5rem;
                    font-weight: bolder;
                    color: $p;
                }

                strong {
                    opacity: 0.6;
                    font-weight: 500;
                }

                ul {
                    margin-top: 7px;
                    list-style: none;

                    a {
                        color: #fff;

                        i {
                            height: 40px;
                            margin-right: 15px;
                            width: 40px;
                            border-radius: 0px;
                            font-size: 1.5rem;
                            line-height: 40px;
                            text-align: center;
                            background-color: rgba(#fff, 0.1);
                        }
                    }
                }
            }
        }
    }
}

// about
.about {
    padding: 60px 0;

    .videoWrapper {
        position: relative;

        .thumb {
            position: relative;
            border-radius: 5px;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                content: "";
                border-radius: 5px;
                background-color: rgba($p, 0.5);
            }

            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 9;
                transform: translate(-50%, -50%);

                img {
                    height: 60px;
                    border-radius: 5px;
                }
            }
        }
    }

    .buttons {
        column-gap: 15px;
    }

    .features {
        padding-left: 15px;
        list-style: none;

        li {
            position: relative;

            &::before {
                position: absolute;
                content: "*";
                left: -15px;
                top: 3px;
                color: $p;
                font-weight: bolder;
            }
        }
    }

    .heading {
        margin: 0px;
    }
}

// reviews
.reviews-section {
    background-color: #f8f8f8;
    padding: 60px 0;

    .reviewactionrow {
        .buttons {
            column-gap: 15px;
        }

        .btn {
            background-color: #fff;
            color: #444 !important;

            img {
                height: 15px;
            }
        }

        .btn_left {
            img {
                transform: scale(-1);
            }
        }
    }

    .owl-stage-outer {
    }

    .reviewWrapper {
        background-color: #fff;
        // box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        position: relative;

        // margin: 30px 7px;
        .testimonial {
            padding: 30px;
        }

        .by {
            padding: 15px 30px;
            // background-color: #f8f8f8;
            line-height: 1rem;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: block;
            border-top: 1px solid #eee;
            font-weight: 500;
            opacity: 0.7;

            position: relative;

            .icon {
                position: absolute;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #eee;
                background-color: #fff;
                border-radius: 60px;
                line-height: 60px;
                right: 30px;
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
                top: -20px;

                img {
                    max-height: 15px;
                }
            }
        }
    }
}

// blog
.blog {
    padding: 60px 0;

    .buttons {
        column-gap: 15px;
    }

    .btn {
        background-color: #f8f8f8;
        color: #444 !important;

        img {
            height: 15px;
        }
    }

    .btn_left {
        img {
            transform: scale(-1);
        }
    }

    article {
        border: 1px solid #eee;
        border-radius: 5px;

        img {
            height: 250px;
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            object-fit: cover;
        }

        .by {
            padding: 15px;
            column-gap: 15px;
            font-weight: 400;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 0.9rem;
            background-color: #f8f8f8;

            .category {
                a {
                    color: $p;
                    padding-right: 7px;
                }
            }
        }

        .details {
            padding: 30px 15px;

            .strong {
                margin-bottom: 15px;
                font-weight: 600;
            }
        }
    }
}

// labs
.labs {
    background-color: #f8f8f8;
    padding: 60px 0;
    padding-bottom: 120px;

    .reviewWrapper {
        background-color: #fff;
        padding: 15px;

        img {
            height: 100px;
            object-fit: contain;
        }
    }

    .buttons {
        column-gap: 15px;
    }

    .btn {
        background-color: #fff;
        color: #444 !important;

        img {
            height: 15px;
        }
    }

    .btn_left {
        img {
            transform: scale(-1);
        }
    }
}

i.las,
i.lar {
    opacity: 0.6 !important;
}

.dropdown-toggle {
    position: relative;

    i {
        font-size: 16px;
        margin-right: 0px !important;
    }
}

.dropdown-toggle::after {
    position: absolute;

    width: 10px;
    left: calc(100% - 15px);
    height: 10px;
    content: "\f107";
    display: none !important;
    font-family: "Line Awesome Free";
    font-weight: 900;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    border: none !important;
    margin-top: -5px;
}

.ask_question_form {
    display: none;
}
